[2020-09-14 13:16] akshitagupta15june opened #1 "Bubble Sort"
solve the issue using CPP.
provide
codes/algos

[2020-09-14 13:17] akshitagupta15june opened #2 "Circular Linkedlist"
solve the issue using CPP.
provide
codes/algos

[2020-09-21 05:19] akshitagupta15june opened #4 "RAISE ANY ISSUE OF YOUR CHOICE RELATED TO CPP."
RAISE ANY ISSUE OF YOUR CHOICE.
Members who will be willing to contribute can raise Pull Requests and they will be merged.
Happy Coding!

[2020-09-23 05:20] akshitagupta15june opened #10 "Choose Numbers"
You are given an array of integers A.
You need to tell whether you can choose three numbers such that a+b>=c.

Input Format
First line consists of number of integers N. next line consists of N space separated integers.

Constraints
1 <= N <= 10^5

Output Format
YES or NO

Sample Input
5
1 2 3 4 9
Sample Output
YES
Explanation
you can choose 1+3 >= 4

Solve the question and raise the Pull Requests.

[2020-09-25 02:40] G1Joshi commented on #10
For every **N >= 3**,
This condition **a+b >= c** always holds **True**.

[2020-09-25 02:58] akshitagupta15june opened #13 "Can you solve this pattern??"
Take N as input. For a value of N=5, we wish to draw the following pattern :

                          5 4 3 2 1 0 1 2 3 4 5
                            4 3 2 1 0 1 2 3 4
                              3 2 1 0 1 2 3
                                2 1 0 1 2
                                  1 0 1
                                    0
                                  1 0 1

[2020-09-25 02:59] akshitagupta15june commented on #13
Add the code of above pattern in pattern repo of CPP folder.

[2020-09-25 03:04] LuisFerTR commented on #13
I can do this, which should the file name?

[2020-09-25 03:12] ashwinitanpure commented on #13
I would like to do this

[2020-09-25 03:13] akshitagupta15june commented on #13
DailyCode repository

[2020-09-25 03:27] akshitagupta15june opened #15 "N'th Fibonacci number in logarithmic time."
Add in DailyCode repo of CPP

[2020-09-25 03:37] akshitagupta15june opened #16 "N-QUEEN PROBLEM USING BACKTRACKING"
Add in RecursionBacktracking repo of CPP https://github.com/akshitagit/CPP/tree/master/Recursion%26Backtracking

[2020-09-25 03:42] akshitagupta15june opened #17 "Implement Sieve of Eratosthenes algorithm to find primes up to n"
ADD IN STANDARD ALGOS REPO OF CPP

[2020-09-25 03:44] mahimagoyalx opened #18 "Implement merge sort"
Merge sort is missing in the sorting section, I would like to add it as a part of Hacktoberfest.

[2020-09-25 03:45] mahimagoyalx commented on #18
@akshitagupta15june Please assign it to me and add hacktoberfest label.

[2020-09-25 03:46] akshitagupta15june commented on #18
@mahimagoyalx yup please add!!

[2020-09-25 03:48] mahimagoyalx commented on #18
Could you please assign it to me and add the hacktoberfest label as well?

[2020-09-25 03:48] akshitagupta15june opened #19 "Create a code for Shortest Job First scheduling"
Add this code in StandardAlgos repo of CPP.

[2020-09-25 03:51] mahimagoyalx commented on #19
I would like to work on this issue.

[2020-09-25 03:52] akshitagupta15june commented on #18
@mahimagoyalx you can fork the repo and raise a pull request after adding the code in sorting repo of CPP.
I will merge it.

[2020-09-25 03:54] mahimagoyalx commented on #18
@akshitagupta15june Sure!

[2020-09-25 03:57] akshitagupta15june opened #20 "Create Bucket Sort"
Add in sorting repo of CPP!!

[2020-09-25 04:01] vasu2001 commented on #13
is the issue still open? I would like to work on it

[2020-09-25 04:02] jayadevvasudevan commented on #13
is this still open
???

[2020-09-25 04:10] akshitagupta15june commented on #19
Added the code!!

[2020-09-25 04:19] mahimagoyalx opened #27 "Implement Kadane's Alogorithm"
I would like to add Kadane's Algorithm is StandardAlgos section as a part of Hacktoberfest.

[2020-09-25 04:22] lonebots opened #28 "implementing Bankers Algorithm"

[2020-09-25 04:22] akshitagupta15june opened #29 "0-1Knapsack"
You are packing for a vacation on the sea side and you are going to carry only one bag with capacity S (1 <= S <= 1000). You also have N (1<= N <= 1000) items that you might want to take with you to the sea side. Unfortunately you can not fit all of them in the knapsack so you will have to choose. For each item you are given its size and its value. You want to maximize the total value of all the i

[2020-09-25 04:23] akshitagupta15june commented on #29
Add in interview question repo of cpp.

[2020-09-25 04:23] rasacharjee commented on #17
Can I work on the issue after hacktoberfest starts

[2020-09-25 04:23] trivediavinash commented on #17
@akshitagupta15june  can you assign this to me for hactoberfest?

[2020-09-25 04:24] trivediavinash commented on #15
@akshitagupta15june Hey can you assign this to me for hactoberfest?

[2020-09-25 04:25] akshitagupta15june commented on #17
Fork the repo and add the code , then raise a pull request. I will merge it.

[2020-09-25 04:25] akshitagupta15june commented on #15
Fork the repo and add the code , then raise a pull request. I will merge it.

[2020-09-25 04:27] trivediavinash commented on #15
@akshitagupta15june  yeah sure can i make pull request after hacktoberfest begin ,pls assign me if you can

[2020-09-25 04:42] ARYAMANSHIVAMJHA commented on #19
i have written a code on SJF. Is it possible to add the code or should i work on another issue??

[2020-09-25 04:50] akshitagupta15june commented on #19
please work on another issue or add any code in repos if it is not available top particular repo.

[2020-09-25 04:54] akshitagupta15june opened #30 "Create Pascal pattern"
Given an integer N, print Pascal Triangle upto N rows.
Input Format

Single integer N.
Constraints

N <= 10
Output Format

Print pascal triangle.
Sample Input

4

Sample Output

           1
         1   1
       1   2   1
     1   3   3   1

[2020-09-25 04:54] akshitagupta15june commented on #30
Add in patterns repo of CPP

[2020-09-25 04:59] jabbar86 commented on #30
@akshitagupta15june  i would like to take this.

[2020-09-25 05:04] ARYAMANSHIVAMJHA commented on #30
i have already written the code for the same

[2020-09-25 05:05] akshitagupta15june commented on #30
Yup add the code in patterns

[2020-09-25 05:12] Suvid-Singhal opened #32 "Implement Sieve of Erastothenes"

[2020-09-25 05:12] Suvid-Singhal commented on #32
I am doing it

[2020-09-25 05:13] akshitagupta15june opened #33 "Add the algorithms!!"
Add the algorithms if you find they are not already added in the repositories and create a pull request.

Example :
In sorting/searching repo many algos are not added so add them and raise the pull request.

+ you can create issue on codes if you find any mistakes in them.

Happy Coding!!!

[2020-09-25 05:14] shibrahmachari commented on #17
Can I work on this once the hacktoberfest fest starts?

[2020-09-25 05:15] shibrahmachari commented on #29
Can I add to this

[2020-09-25 05:18] yadavKaustubh opened #36 "Bit Manipulation"
I would like to add bit manipulation codes

[2020-09-25 05:20] Suvid-Singhal commented on #17
Done and made a PR as well :)

[2020-09-25 05:21] Raj142 commented on #2
please assign it to me and add hactoberfest label .

[2020-09-25 05:21] Suvid-Singhal commented on #17
@akshitagupta15june I created a new Maths folder in my PR. Will it work? And will it count towards hacktoberfest?

[2020-09-25 05:24] #32 closed

[2020-09-25 05:25] mahimagoyalx opened #38 "Implement Reverse of Singly Linked List"
I would like to add code for Reverse of Singly Linked List as a part of Hacktoberfest.

[2020-09-25 05:29] sindhujaponnuru commented on #29
Great issue. I will be working on this.

[2020-09-25 05:46] AltCtrlDel1999 opened #46 "Implement Merge Sort"

[2020-09-25 05:46] AltCtrlDel1999 commented on #46
@akshitagupta15june Add Hactoberfest Label to it

[2020-09-25 05:53] Jigyasa-Kumari commented on #46
Hey, can I work on this?

[2020-09-25 05:53] AkashGit21 commented on #33
Hi,
I cannot find any graph folder here. I would like to add some common graph Algorithms( like BFS, DFS, etc).
Also, I wish to add some algos like LCA on Tree using binary lifting.

All my codes are in CPP. So let me know if I can contribute.

[2020-09-25 05:55] #46 closed

[2020-09-25 06:00] akshitagupta15june commented on #33
There is a repo trees&graph

[2020-09-25 06:05] mahimagoyalx commented on #27
@akshitagupta15june I will make the pull request on 1st October for all my issues, else it won't count in HacktoberFest.

[2020-09-25 06:07] akshitagupta15june commented on #27
sure!

[2020-09-25 06:08] mahimagoyalx commented on #27
Add hacktoberfest label to it and assign it to me, people are making pull requests for issues which I have created.

[2020-09-25 06:09] iaish-max commented on #29
I am a beginner in open source contribution , can i work on this.

[2020-09-25 06:10] akshitagupta15june commented on #29
yeah!!

[2020-09-25 06:10] iaish-max commented on #15
I am a beginner in open source contribution , can i work on this.

[2020-09-25 06:15] Pratik-ahirrao commented on #20
Can i work on this issue?

[2020-09-25 06:16] akshitagupta15june commented on #20
yeah

[2020-09-25 06:20] Pratik-ahirrao commented on #20
I have to write bucket sort in cpp right?

[2020-09-25 06:23] Parshwa52 commented on #16
Can I work on this?

[2020-09-25 06:24] ishi0301 opened #59 "Unique Number II"
I would like to take this issue as a part of hactoberfest. Please assign me.

[2020-09-25 06:25] ishi0301 opened #60 "Unique Number III"
I would like to take this issue as a part of hactoberfest.

[2020-09-25 06:25] ishi0301 opened #61 "Soduku Solver"
I would like to take this issue as a part of hactoberfest.

[2020-09-25 06:26] ishi0301 opened #62 "Euclid Algorithm"
I would like to take this issue as a part of hactoberfest. Please assign me.

[2020-09-25 06:27] mahimagoyalx opened #63 "Extended Euclid's GCD"

[2020-09-25 06:56] Parshwa52 commented on #16
for hacktoberbest 2020

[2020-09-25 07:12] #29 closed

[2020-09-25 07:22] akshitagupta15june opened #67 "Sort in Linear Time"
Create a code for sorting in linear time

[2020-09-25 07:22] akshitagupta15june commented on #67
add in sorting searching repo

[2020-09-25 07:29] HariniJeyaraman commented on #16
@akshitagupta15june can I work on this for hacktoberfest 2020 ?

[2020-09-25 07:29] akshitagupta15june commented on #16
yeah

[2020-09-25 07:43] kratikaatgithub commented on #15
Hi can you please assign this to me as a part of hactoberfest.
Thanks

[2020-09-25 07:45] akshitagupta15june commented on #15
fork repo add your code and create a pull request

[2020-09-25 08:09] milanj-1 opened #70 "Inorder traversal in CPP"

[2020-09-25 08:12] kratikaatgithub commented on #20
Hi can I get this issue assigned to me as part of hacktoberfest?
thanks.

[2020-09-25 08:16] akshitagupta15june commented on #20
you can fork repo add your code and then create a pr

[2020-09-25 08:25] akshitagupta15june commented on #60
yes you can fork this repo , add your code then create a pull request

[2020-09-25 08:25] akshitagupta15june commented on #60
@ishi0301

[2020-09-25 08:41] akshitagupta15june opened #76 "Implement FCFS algorithm"
First come first serve
add in standard algos repo

[2020-09-25 08:47] milanj-1 commented on #70
Made a new PR @akshitagupta15june, please check

[2020-09-25 08:52] Dheeraj-kumar626 commented on #76
Hii can i contribute to this?

[2020-09-25 08:53] hritik5102 commented on #20
Hello @akshitagupta15june , i would like to work on this issue :)

Can I add all sorting algorithms with ReadMe as a documentation ... so that it would be easily understandable

- Should I also update the ReadMe ?

[2020-09-25 08:54] milanj-1 opened #80 "Implement Pre Order and Post Order traversal"

[2020-09-25 08:56] hritik5102 commented on #20
can you please create a separate issue related to documentation so that I can make PR their, so that chance of ambiguity will be less?

**Documentation includes**

- [x] gitignore
- [x] code of conduct.md
- [x] Contribution.md
- [x] Neccasary changes in ReadMe ( adding badges and gitpod)
- [x] MIT Licence

please let me know if furthur changes required :)

Thank you

[2020-09-25 08:57] milanj-1 commented on #70
Could you please link the pull request here @akshitagupta15june

[2020-09-25 09:01] hritik5102 commented on #28
Hello @akshitagupta15june , I would like to work on this issue ...

Should i make PR ?

Thank you

[2020-09-25 09:04] divyanshugit commented on #67
I would like to work on this issue.

[2020-09-25 09:20] rasacharjee opened #83 "Level Order Traversal of the tree"

[2020-09-25 09:33] vasu2001 commented on #13
is the issue still available?

[2020-09-25 09:58] akshitagupta15june opened #86 "Strings-Remove Duplicates"
Take as input S, a string. Write a function that removes all consecutive duplicates. Print the value returned.
Input Format

String
Constraints

A string of length between 1 to 1000
Output Format

String
Sample Input

aabccba

Sample Output

abcba

Explanation

For the given example, "aabccba", Consecutive Occurrence of a is 2, b is 1, and c is 2.

After removing all of the consecutive occurences,

[2020-09-25 09:58] akshitagupta15june commented on #86
Add in strings repo of CPP

[2020-09-25 10:02] rishi-1092 commented on #86
can i contribute?

[2020-09-25 10:04] akshitagupta15june commented on #86
open for all

[2020-09-25 10:05] heyyviv commented on #86
can i work on it

[2020-09-25 10:08] akshitagupta15june opened #87 "PROCESS OF CONTRIBUTION IN THIS REPOSITORY"
PROCESS OF CONTRIBUTION IN THIS REPOSITORY

FORK THIS REPOSITORY
ADD YOUR CODE IN RESPECTIVE FOLDER
CREATE A PULL REQUEST
AFTER A SIMPLE CHECK I WILL MERGE THE PR

HAPPY CODING AND CONTRIBUTING!!!!

[2020-09-25 10:12] akshitagupta15june commented on #86
PROCESS OF CONTRIBUTION IN THIS REPOSITORY

FORK THIS REPOSITORY
ADD YOUR CODE IN RESPECTIVE FOLDER
CREATE A PULL REQUEST
AFTER A SIMPLE CHECK I WILL MERGE THE PR

HAPPY CODING AND CONTRIBUTING!!!!

[2020-09-25 10:25] rasacharjee commented on #83
I would like to add the code for DFS of a tree as a part of Hacktoberfest 2020. Please assign the issue to me

[2020-09-25 10:33] akshitagupta15june opened #89 "Check whether two strings are anagram of each other"
Check whether two strings are anagram of each other
add in strings folder

[2020-09-25 10:36] AltCtrlDel1999 commented on #89
I would like to work on this issue

[2020-09-25 10:38] akshitagupta15june commented on #89
PROCESS OF CONTRIBUTION IN THE REPOSITORIES

FORK THE REPOSITORY OF YOUR CHOICE
ADD YOUR CODE IN RESPECTIVE FOLDER
CREATE A PULL REQUEST
AFTER A SIMPLE CHECK I WILL MERGE THE PR

HAPPY CODING AND CONTRIBUTING!!!!

[2020-09-25 10:51] akshitagupta15june opened #92 "String Compression"
Take as input S, a string. Write a function that does basic string compression. Print the value returned. E.g. for input “aaabbccds” print out a3b2c2d1s1.
Input Format

A single String S
Constraints

1 < = length of String < = 1000
Output Format

The compressed String.
Sample Input

aaabbccds

Sample Output

a3b2c2d1s1

Explanation

In the given sample test case 'a' is repeated 3 times consecutive

[2020-09-25 10:51] akshitagupta15june commented on #92
add in strings folder

[2020-09-25 10:54] hritik5102 commented on #76
Hello, @akshitagupta15june I would like to work on this issue :)

can you please assign that to me
Thank you

[2020-09-25 10:54] ishi0301 commented on #60
Okay.

[2020-09-25 10:55] akshitagupta15june commented on #76
PROCESS OF CONTRIBUTION IN THIS REPOSITORY

FORK THIS REPOSITORY
ADD YOUR CODE IN RESPECTIVE FOLDER
CREATE A PULL REQUEST
AFTER A SIMPLE CHECK I WILL MERGE THE PR

HAPPY CODING AND CONTRIBUTING!!!!

[2020-09-25 10:56] rishi-1092 commented on #92
can i work on this if its okay?

[2020-09-25 10:57] akshitagupta15june commented on #92
PROCESS OF CONTRIBUTION IN THIS REPOSITORY

FORK THIS REPOSITORY
ADD YOUR CODE IN RESPECTIVE FOLDER
CREATE A PULL REQUEST
AFTER A SIMPLE CHECK I WILL MERGE THE PR

HAPPY CODING AND CONTRIBUTING!!!!

[2020-09-25 11:01] mahimagoyalx opened #93 "Russian Peasant Algorithm"
I would like to take this issue as a part of hactoberfest.

[2020-09-25 11:09] mahimagoyalx opened #95 "Knuth Morris Pratt Algorithm"
I would like to take this issue as a part of hactoberfest.

[2020-09-25 11:12] hritik5102 commented on #20
@akshitagupta15june you can check out my **Pull request #94**

I hope i covered everything , if any thing left please let me know , i'll add that too

Thank you

[2020-09-25 11:16] hritik5102 commented on #20
I haven't added documentation in PR #94 , if you want me to add documentation also , then i request you to create a new issue , so that I can make changes on that issue itself .

[2020-09-25 11:16] Code-Recursion commented on #89
i would liek to work on this issue, kindly assign it to me.

[2020-09-25 11:23] rasacharjee commented on #92
Hello @akshitagupta15june  can you please assign the issue to me

[2020-09-25 11:26] akshitagupta15june commented on #92
PROCESS OF CONTRIBUTION IN THIS REPOSITORY

FORK THIS REPOSITORY
ADD YOUR CODE IN RESPECTIVE FOLDER
CREATE A PULL REQUEST
AFTER A SIMPLE CHECK I WILL MERGE THE PR

HAPPY CODING AND CONTRIBUTING!!!!

[2020-09-25 11:30] rasacharjee commented on #92
Hello @akshitagupta15june , I have made a pr for the issue, can you please look into the same and merge my pr such that it counts for Hacktoberfest too.

[2020-09-25 11:34] rishi-1092 commented on #86
Hello @akshitagupta15june , I have made a pr for the issue, if you can check the same and merge my pr such that it counts for Hacktoberfest , it would be great

[2020-09-25 11:50] chehak123 commented on #92
Can I work on this issue?

[2020-09-25 11:52] chehak123 commented on #89
I would like to work on it.

[2020-09-25 11:55] chehak123 commented on #86
Can i contribute ?

[2020-09-25 12:19] agarwalBinay18 commented on #80
Can I take this issue?

[2020-09-25 12:27] AC-BOSS commented on #92
May I work on this?

[2020-09-25 12:46] akshitagupta15june opened #102 "Largest Subset"
Given an array A1, A2 . . . AN what is the size of the largest subset of the array such that the each pair of elements in the subset is coprime.
Input Format

The first line contains an integer N, followed by N numbers in the next line.
Constraints

N<=50 , Ai<=50
Output Format

Output is a single number denoting the size.
Sample Input

5
2 3 2 3 2

Sample Output

2

[2020-09-25 12:46] akshitagupta15june commented on #102
Add in bitmasking repo of CPP

[2020-09-25 12:49] akshitagupta15june opened #103 "Create XOR MATRIX"
You are given a matrix A of size nxm. Find any suitable integer sequence C of size n such that A[1][c[1]]^A[2][c[2]]^….^A[n][c[n]] is greater than 0. Output Format : IF there is no solution , just print “NIE” , otherwise first print “TAK” and then print configuration.
Input Format

Given a matrix of A of size (n X m)
Constraints

n, m<=500, A[i][j]<1024
Output Format

If there is no solution , jus

[2020-09-25 13:01] akshitagupta15june opened #104 "Create Binary Search"
Add in searching sorting repo

[2020-09-25 13:02] akshitagupta15june opened #105 "Create Linear Search"
add in searching sorting repo

[2020-09-25 13:02] Hardik0307 commented on #104
May I work on this @akshitagupta15june ?

[2020-09-25 13:03] akshitagupta15june commented on #104
Assigned

PROCESS OF CONTRIBUTION IN THIS REPOSITORY

FORK THIS REPOSITORY
ADD YOUR CODE IN RESPECTIVE FOLDER
CREATE A PULL REQUEST
AFTER A SIMPLE CHECK I WILL MERGE THE PR

HAPPY CODING AND CONTRIBUTING!!!!

[2020-09-25 13:03] gh4abhi commented on #4
Can we raise an issue of our choice?

[2020-09-25 13:05] akshitagupta15june commented on #4
ofcourse! but add labels hacktoberfest

[2020-09-25 13:09] gh4abhi commented on #4
OK

[2020-09-25 13:15] rasacharjee commented on #105
Can I work on the issue

[2020-09-25 13:17] pawarhrishi21 commented on #105
I would like to work on this

[2020-09-25 13:18] rebelfire888 commented on #105
I would like to work on it.

[2020-09-25 13:19] pawarhrishi21 commented on #70
I would like to work on this as a part of Hacktober fest

[2020-09-25 13:20] rebelfire888 commented on #104
I would like to work on any searching or sorting algorithms .Pls assign the work to me

[2020-09-25 13:21] pranjalibajpai commented on #80
I would like to work on this. Could you please assign it to me?

[2020-09-25 13:23] pranjalibajpai commented on #38
I would like to work on this as a part of Hacktober fest. Could you please assign it to me @mahimagoyalx ?

[2020-09-25 13:24] pawarhrishi21 commented on #83
I would like to work on this as a part of Hacktober fest

[2020-09-25 13:27] pawarhrishi21 commented on #1
I would like to work on this as a part of Hacktober fest 2020

[2020-09-25 13:31] pranjalibajpai commented on #83
I would like to work on this as a part of Hacktober fest. Could you please assign it to me?

[2020-09-25 13:32] pranjalibajpai commented on #36
I would like to add bit manipulation codes to it as a part of Hacktober fest. Could you please assign it to me?

[2020-09-25 13:33] akshitagupta15june commented on #1
Asssigned

PROCESS OF CONTRIBUTION IN THIS REPOSITORY

FORK THIS REPOSITORY
ADD YOUR CODE IN RESPECTIVE FOLDER
CREATE A PULL REQUEST
AFTER A SIMPLE CHECK I WILL MERGE THE PR

HAPPY CODING AND CONTRIBUTING!!!!

[2020-09-25 13:35] akshitagupta15june commented on #104
Asssigned

PROCESS OF CONTRIBUTION IN THIS REPOSITORY

FORK THIS REPOSITORY
ADD YOUR CODE IN RESPECTIVE FOLDER
CREATE A PULL REQUEST
AFTER A SIMPLE CHECK I WILL MERGE THE PR

HAPPY CODING AND CONTRIBUTING!!!!

[2020-09-25 13:39] pranjalibajpai commented on #38
I would like to work on this. Could you assign it to me?

[2020-09-25 13:52] rishi-1092 commented on #102
hey! can you assign me this issue. i would like to work on it

[2020-09-25 13:52] akshitagupta15june commented on #102
Ok sure

[2020-09-25 13:57] gourav-j commented on #62
https://github.com/akshitagit/CPP/pull/108

[2020-09-25 13:59] Hardik0307 opened #112 "Egg Dropping Problem Under DP"
- I would like to work on the **Egg Dropping Puzzle** during Hacktoberfest'20.

_Thanks!_

[2020-09-25 14:10] shaonakundu commented on #38
Hey @mahimagoyalx I would like to contribute to this issue using Python, so can you assign me this and allow me to use Python for providing the sol to reverse singly link list

[2020-09-25 14:19] pranjalibajpai commented on #33
#111

[2020-09-25 14:21] gh4abhi opened #114 "Insert an element at the beginning of linked list and display it."
Write a program that adds element at the beginning of linked list and displays it.

[2020-09-25 14:25] gh4abhi commented on #114
Where can I add the code for this problem?

[2020-09-25 14:28] gh4abhi commented on #114
Where can I add code for this problem.

[2020-09-25 14:30] akshitagupta15june commented on #114
You can add in linkedlist repo

[2020-09-25 14:30] gh4abhi commented on #114
Alright
Thank You

[2020-09-25 14:37] akshitagupta15june opened #116 "REVERSE A STACK USING RECURSION"
add in stack repo

[2020-09-25 14:38] akshitagupta15june opened #117 "Dequeue efficient queue using stack"
add in stack repo

[2020-09-25 14:38] #105 closed

[2020-09-25 14:38] #104 closed

[2020-09-25 14:38] #92 closed

[2020-09-25 14:39] #89 closed

[2020-09-25 14:39] gourav-j commented on #116
Can I work on this?

[2020-09-25 14:40] akshitagupta15june commented on #67
ok i am assigning you

[2020-09-25 14:41] #86 closed

[2020-09-25 14:42] #30 closed

[2020-09-25 14:42] akshitagupta15june commented on #116
ok i am assigning you

[2020-09-25 14:46] pawarhrishi21 commented on #1
There are two folders related to sorting named 'Sorting&Searching' and 'sorting'.
In which should I add the file?

[2020-09-25 14:47] #114 closed

[2020-09-25 14:47] akshitagupta15june opened #118 "Find Sum-Trees"
Given a balanced binary tree find sum of all the nodes.
Input Format

First line contains N the number of elements in the tree. Next line contains N space separated elements.
Constraints

0 <= N <= 10^6

-10^7 <= tree.data <= 10^7
Output Format

A single integer : Sum of the tree
Sample Input

3
1 2 3

Sample Output

6

[2020-09-25 14:48] akshitagupta15june commented on #118
Add in tree repo

[2020-09-25 14:49] akshitagupta15june opened #119 "Create Tree Top View"
Given a binary tree , print the nodes in left to right manner as visible from above the tree
Input Format

Level order input for the binary tree will be given.
Constraints

No of nodes in the tree can be less than or equal to 10^7
Output Format

A single line containing space separated integers representing the top view of the tree
Sample Input

1 2 3 4 5 6  -1 -1 -1 -1 -1 -1 -1

Sample Output

4

[2020-09-25 14:49] akshitagupta15june commented on #119
add code in tree repo

[2020-09-25 14:50] akshitagupta15june commented on #1
sorting one

[2020-09-25 14:55] akshitagupta15june opened #120 "FIND HCF"
Given N positive numbers, your task is to calculate their HCF.
Input Format

First line of input contains a single integer N, second line contains N space separated positive integers whose HCF is to be computed.
Constraints

N <= 10 and all the numbers lie between 1 and 100.
Output Format

Print HCF of N numbers.
Sample Input

3
2 4 6

Sample Output

2

[2020-09-25 14:56] akshitagupta15june commented on #120
ADD IN MATHS FOLDER

[2020-09-25 15:00] Harshak50 commented on #120
I will work on this

[2020-09-25 15:12] pawarhrishi21 commented on #1
I have put up a PR. Please have a look.

[2020-09-25 15:22] akshitagupta15june opened #123 "Create Shell Sort"
add in sorting folder

[2020-09-25 15:22] gourav-j commented on #116
Thanks

[2020-09-25 15:34] pawarhrishi21 commented on #119
I would like to work on this as a part of Hacktober Fest 2020

[2020-09-25 15:52] devil-cyber commented on #123
can I work on this

[2020-09-25 16:00] akshitagupta15june commented on #123
Yes

[2020-09-25 16:29] pawarhrishi21 commented on #120
Please assign this to me as a part of Hactober2020

[2020-09-25 16:32] pawarhrishi21 commented on #120
You can review my PR #124

[2020-09-25 17:11] #120 closed

[2020-09-25 17:18] ritik-gupta commented on #119
can you assign it to me?

[2020-09-25 17:21] akshitagupta15june commented on #119
@ritik-gupta assigned to you

[2020-09-25 17:22] #123 closed

[2020-09-25 17:30] d2Anubis commented on #118
Can you assign this to me?

[2020-09-25 17:31] akshitagupta15june commented on #118
yes assigned to u

[2020-09-25 17:51] pawarhrishi21 opened #129 "Is String a Palindrome?"
Write a C++ program to check if a given string of lower case alphabets ('a' to 'z') is a palindrome.

[2020-09-25 17:52] pawarhrishi21 commented on #129
Add the file to String folder

[2020-09-25 18:12] akshitagupta15june opened #131 "DECIMAL TO OCTAL"
Take N (number in decimal format). Write a function that converts it to octal format. Print the value returned.
Input Format

Constraints

0 < N <= 1000000000
Output Format

Sample Input

63

Sample Output

77

[2020-09-25 18:12] akshitagupta15june commented on #131
Add in maths folder

[2020-09-25 18:18] d2Anubis commented on #117
I want to try this.

[2020-09-25 18:18] akshitagupta15june opened #132 "COUNT SET BITS"
count number of 1s in binary representation of an integer
Input Format

Input N = Number of Test Cases, followed by N numbers
Constraints

Output Format

Number of Set Bits in each number each in a new line
Sample Input

3
5
4
15

Sample Output

2
1
4

[2020-09-25 18:18] akshitagupta15june commented on #132
ADD IN BITMASKING REPO

[2020-09-25 18:18] akshitagupta15june commented on #117
OK ASSIGNED TO U FORK THE REPO

[2020-09-25 18:20] akshitagupta15june opened #133 "TREE BOTTOM VIEW"
add in tree repo

[2020-09-25 18:22] akshitagupta15june opened #134 "IS PARENTHESIS BALANCED?"
You are given a string of brackets i.e. '{', '}' , '(' , ')', '[' , ']' . You have to check whether the sequence of parenthesis is balanced or not.
For example, "(())", "(())()" are balanced and "())(", "(()))" are not.
Input Format

A string of '(' , ')' , '{' , '}' and '[' , ']' .
Constraints

1<=|S|<=10^5
Output Format

Print "Yes" if the brackets are balanced and "No" if not balanced.
Sample I

[2020-09-25 18:23] akshitagupta15june commented on #134
ADD IN THE SUITABLE CODE REPO

[2020-09-25 18:29] pawarhrishi21 opened #135 "Convert Roman numeral into integer."
Given a string A representing a roman numeral. Implement a C++ program to convert A into integer.

It is guaranteed that A will be less than 3000.
Add file to Interview Questions.

[2020-09-25 18:31] pawarhrishi21 opened #136 "Convert Integer to Roman numeral"
Given an integer, A, implement a C++ program to convert A into a string that represents its Roman numeral.

Constraints : A<3000

Add file to Interview Questions folder.

[2020-09-25 18:31] akshitagupta15june opened #137 "RAIN WATER SAVING-INTERVIEW QUESTION (FAANG)"
AKSHITA has created an elevated roof. She wants to know how much water can she save during rain.

Given n non negative integers representing the elevation map where width of every bar is 1, Find the maximum water that she can save.

Explanation for the Sample input Testcase:
![image](https://user-images.githubusercontent.com/57909583/94303318-3bfa0700-ff8b-11ea-8f96-3935df47aab0.png)

Elevation Ma

[2020-09-25 18:32] akshitagupta15june commented on #137
ADD CODE IN INTERVIEWQUESTIONS REPO

[2020-09-25 18:34] pawarhrishi21 opened #138 "Longest Arithmetic Progression Subsequence"
Find the length of the longest subsequence which is an Arithmetic Progression in an integer array.

Add file to the Dynamic_Programming folder.

[2020-09-25 18:37] pawarhrishi21 opened #139 "Maximum Product Subarray"
Find the contiguous subarray within an array (containing at least one number) which has the largest product and output the product.

Note: Array may contain negative integers, positive integers, and zeroes as well.

Add file in the Dynamic_Programming folder.

[2020-09-25 18:42] pawarhrishi21 opened #140 "Largest Number by Rearranging array"
Given an array of non-negative integers, arrange them such that they form the largest number. Write a C++ program to output the largest number possible.

Add file to Interview Questions folder.

[2020-09-25 18:55] pawarhrishi21 opened #142 "Kth smallest element in a Binary Search Tree"
Given a binary search tree, write a function to find the kth smallest element in the tree. Implement the C++ program.

Add file to trees folder.

[2020-09-25 21:22] iFrogHop2Worlds commented on #134
I'm assuming I should wait till October for making requests but it seems a few people begun. If we submit now will it be valid for hacktober?

[2020-09-26 01:29] ThePsyk3y commented on #131
Can I take this?

[2020-09-26 01:30] ThePsyk3y commented on #129
Can you assign this to me?

[2020-09-26 02:00] RDLL commented on #93
can I take this issue?

[2020-09-26 02:13] mahimagoyalx commented on #93
@RDLL Sorry, I have already taken this issue.

[2020-09-26 03:58] SourabhBadhya commented on #142
Can I take this issue?

[2020-09-26 04:01] #136 closed

[2020-09-26 04:01] #135 closed

[2020-09-26 04:12] akshitagupta15june commented on #131
yes i am assigning to u

[2020-09-26 04:12] akshitagupta15june commented on #131
PROCESS OF CONTRIBUTION IN THIS REPOSITORY

FORK THIS REPOSITORY
ADD YOUR CODE IN RESPECTIVE FOLDER
CREATE A PULL REQUEST
AFTER A SIMPLE CHECK I WILL MERGE THE PR

HAPPY CODING AND CONTRIBUTING!!!!

[2020-09-26 04:13] #134 closed

[2020-09-26 04:17] akshitagupta15june opened #151 "Longest Increasing Subsequence"
Find the length of the longest subsequence in a given array A of integers such that all elements of the subsequence are sorted in strictly ascending order.
Input Format

The first line contains a single integer n.
Next line contains n space separated numbers denoting the elements of the array.
Constraints

0 < n< 105
0 < Ai < 105
Output Format

Print a single line containing a single integer denot

[2020-09-26 04:18] akshitagupta15june commented on #151
SOLVE USING DP AND ADD IN DYNAMIC PROGRAMMING FOLDER

[2020-09-26 04:34] SourabhBadhya commented on #151
Can I take this issue?

[2020-09-26 04:36] akshitagupta15june commented on #151
ok i am assigning it to u

[2020-09-26 04:44] akshitagupta15june opened #153 "INTERVIEW QUESTIONS ISSUES!"
THE PEOPLE WHO HAVE FACED ANY INTERVIEWS AND THEY KNOW THE QUESTIONS WHICH WERE ASKED AND IF THEY ARE COMFORTABLE IN SHARING THEN THEY CAN RAISE THE ISSUE WITH THE QUESTIONS AND SOME DESCRIPTIONS TOO , SO THAT OTHER CAN SOLVE THEM AND LEARN.

ALL THE CODES WILL BE ADDED IN INTERVIEW QUESTION FOLDER!

HAPPY CODING TO EVERYONE!!!

[2020-09-26 04:55] akshitagupta15june opened #154 "CREATE A HOLLOW RHOMBUS PATTERN"
Take N (number of rows), print the following pattern (for N = 5).

     * * * * *
     * *   * *
     *       *
     * *   * *
     * * * * *

Input Format

Constraints

0 < N < 10 (where N is an odd number)

[2020-09-26 04:55] akshitagupta15june commented on #154
ADD IN PATTERNS FOLDER

[2020-09-26 04:59] akshitagupta15june opened #155 "PATTERN TRIANGLE"
Take N (number of rows), print the following pattern (for N = 4).

                       1
                     2 3 2
                   3 4 5 4 3
                 4 5 6 7 6 5 4

Input Format

Constraints

0 < N < 10

[2020-09-26 04:59] akshitagupta15june commented on #155
ADD IN PATTERNS FOLDER

[2020-09-26 05:02] aswarth123 commented on #155
I would like to solve can you assign it to me?

[2020-09-26 05:18] aswarth123 commented on #132
I would like to solve it can you assign it to me?

[2020-09-26 05:25] akshitagupta15june commented on #132
OK ASSIGNING IT TO U

[2020-09-26 05:45] RDLL commented on #93
@mahimagoyalx Sorry, I did not realize

[2020-09-26 06:14] pranjalibajpai opened #156 "Determine maximum possible valid time(HH : MM) from the given digits"
Given four integers - a, b, c, d.
Determine the maximum possible time (HH : MM) in 24 hour format that can be formed using the given 4 integers.

Also, print -1 if no valid time is possible with the given set of integers.

[code]
[code]

[2020-09-26 06:15] KalyanKumar-4 opened #157 "Interview question"
I faced this interview question.It is very easy but I'm willing to share with you
Prob: Suppose if there is small plant in a pond.The size of plant is doubling on everyday in length wise.If it takes 30 days to cover surface area of pond  than in how many days it'll cover the half of surface area of pond?

[2020-09-26 06:19] pranjalibajpai commented on #156
Add code in the Interview Questions repo

[2020-09-26 06:47] pranjalibajpai opened #158 "Median of two Sorted Arrays"
Given two sorted arrays A and B of sizes n, m respectively. Find the median of these two arrays in O(1) space i.e. find the median without actually merging the two arrays.

Input Format
First line contains two integers - n, m
Next two lines contain n and m integers respectively.

Output Format
Single integer denoting the median of the given arrays.

[code]

[code]
Add code in the Interview Questio

[2020-09-26 07:10] Jaideep07 commented on #154
I would love to do this 😃 can you assign it to me

[2020-09-26 07:12] akshitagupta15june commented on #154
assigning to u

[2020-09-26 07:30] d2Anubis commented on #158
I want to try this.

[2020-09-26 07:32] shiv-ani-singh commented on #129
Can you please assign this to me?

[2020-09-26 07:48] Jaideep07 commented on #154
Thank you, will send a PR on oct 1😜

[2020-09-26 08:52] Pratik-ahirrao commented on #139
I would like to work on this issue.
Please assign it to me

[2020-09-26 08:54] Pratik-ahirrao commented on #140
I would like to work on this.
Please assign it to me.
Thankyou

[2020-09-26 09:20] d2Anubis commented on #138
I want to try this.

[2020-09-26 09:24] akshitagupta15june commented on #154
no problem

[2020-09-26 10:18] Taimoor0217 commented on #156
@pranjalibajpai can you please assign this to me?

[2020-09-26 10:30] mahimagoyalx commented on #38
@shaonakundu you can raise this issue in the python repository and work on it.

[2020-09-26 10:30] AkashGit21 commented on #151
This has already been added. Please check here: (https://github.com/akshitagit/CPP/blob/master/Dynamic_Programming/LongestIncreasingSubsequence.cpp)

[2020-09-26 10:42] pawarhrishi21 commented on #4
Not able to add label

[2020-09-26 11:23] Maitryee-Choudhary commented on #155
Can you assign to me?

[2020-09-26 11:26] Maitryee-Choudhary commented on #142
Can I work on this project?

[2020-09-26 11:27] Maitryee-Choudhary commented on #129
Can I work on this?

[2020-09-26 11:31] Maitryee-Choudhary commented on #38
I would like to do this.Could you assign it to me?

[2020-09-26 11:35] Maitryee-Choudhary commented on #158
I would like to work on this.

[2020-09-26 11:41] akshitagupta15june commented on #157
You can create a issue with this

[2020-09-26 11:42] Maitryee-Choudhary commented on #137
I would like to work on this.Can you assign to me?

[2020-09-26 11:48] akshitagupta15june commented on #155
Ok

[2020-09-26 11:51] akshitagupta15june commented on #137
Ok assigning to u

[2020-09-26 12:03] Pratik-ahirrao commented on #139
Please assign it to me.

[2020-09-26 12:03] akshitagupta15june opened #160 "Print the Fibonacci series for n=20"

[2020-09-26 12:03] Pratik-ahirrao commented on #140
Please assign it to me so that i can work on this issue.

[2020-09-26 12:04] akshitagupta15june commented on #160
Add in daily code repo

[2020-09-26 12:07] KalyanKumar-4 commented on #157
means to that repo?

[2020-09-26 12:08] akshitagupta15june commented on #157
No you can raise a issue in cpp with the title of question and a description

[2020-09-26 12:13] dolonmandal commented on #160
Can I  work on this as a part of hacktober fest 2020.  please assign .

[2020-09-26 12:14] akshitagupta15june commented on #160
Yes Ofcourse

[2020-09-26 12:16] dolonmandal commented on #70
I would like to work on this as a part of hacktober fest 2020. Can you please assign.

[2020-09-26 12:17] akshitagupta15june commented on #70
Assigned

[2020-09-26 12:18] KalyanKumar-4 opened #162 "Interview question"
I faced this interview question.It is very easy but I'm willing to share with you
Prob: Suppose if there is small plant in a pond.The size of plant is doubling on everyday in length wise.If it takes 30 days to cover surface area of pond than in how many days it'll cover the half of surface area of pond?

[2020-09-26 12:19] KalyanKumar-4 commented on #157
okk

[2020-09-26 12:50] Maitryee-Choudhary commented on #137
Thank you! I will submit my PR on 1st October

[2020-09-26 12:59] Manoj13-coder commented on #4
May I contribute in it?

[2020-09-26 13:00] Manoj13-coder commented on #157
May I contribute ?

[2020-09-26 13:02] akshitagupta15june commented on #157
Yes

[2020-09-26 13:02] akshitagupta15june commented on #4
Yes

[2020-09-26 13:23] KalyanKumar-4 commented on #157
the prs before oct 1 didn't count?

On Sat, Sep 26, 2020 at 5:39 PM AKSHITA GUPTA <notifications@github.com>
wrote:

[2020-09-26 13:49] anjalisoni3655 opened #166 "pattern matching problem using Trie"
I would like to contribute to the above problem. It will contain the full implementation of a trie class.

[2020-09-26 14:01] Mayankjha997 commented on #160
Hey, can I work on this as apart of hactober fest 2020 please

[2020-09-26 14:05] Manoj13-coder commented on #153
I want to Contribute

[2020-09-26 14:09] Manoj13-coder commented on #133
I would love to do it may i?

[2020-09-26 15:01] kratikaatgithub commented on #140
Hi @akshitagupta15june can you also assign this issue to me? I would like to work on this as part of hacktoberfest 2020.
Thanks

[2020-09-26 15:03] kratikaatgithub commented on #129
Hi @pawarhrishi21  can you also assign this issue to me? I would like to work on this as part of hacktoberfest 2020.
Thanks

[2020-09-26 15:04] kratikaatgithub commented on #160
Hi @akshitagupta15june can you also assign this issue to me? I would like to work on this as part of hacktoberfest 2020.
Thanks

[2020-09-26 15:46] pawarhrishi21 opened #168 "Fibonacci Series using Loop (Iterative Method)"
Write an iterative C++ program to print the Fibonacci series up to a given length 'n'.

Add file in daily codes folder

[2020-09-26 15:52] Pratik-ahirrao commented on #140
I am already working on this issue

[2020-09-26 15:53] pawarhrishi21 commented on #168
Check PR #169

[2020-09-26 15:53] hritikkhurana10sm commented on #160
Can I work on this as a part of hacktoberfest 2020. please .

[2020-09-26 16:08] hritikkhurana10sm commented on #154
Can I work on this as a part of hacktober fest 2020. please assign .

[2020-09-26 16:09] hritikkhurana10sm commented on #142
Can I work on this as a part of hacktober fest 2020. please assign .

[2020-09-26 16:11] hritikkhurana10sm commented on #118
Can I work on this as a part of hacktober fest 2020. please assign .

[2020-09-26 16:12] hritikkhurana10sm commented on #70
Can I work on this as a part of hacktober fest 2020. please assign .

[2020-09-26 16:14] hritikkhurana10sm commented on #83
Can I work on this as a part of hacktober fest 2020. please assign .

[2020-09-26 16:17] hritikkhurana10sm commented on #158
Can I work on this as a part of hacktober fest 2020. please assign .

[2020-09-26 16:18] hritikkhurana10sm commented on #129
Can I work on this as a part of hacktober fest 2020. please assign .

[2020-09-26 16:44] kothawade29 commented on #129
Hello @pawarhrishi21  can you please assign this issue ?

[2020-09-26 16:46] kothawade29 commented on #158
Hello @pranjalibajpai  can you please assign this issue?

[2020-09-26 17:01] akshitagupta15june commented on #70
issue is closed . code is already added please work on differnt issue.

[2020-09-26 17:01] #70 closed

[2020-09-26 17:02] akshitagupta15june commented on #118
issue is closed . code is already added please work on differnt issue.

[2020-09-26 17:02] #118 closed

[2020-09-26 17:03] akshitagupta15june commented on #154
ok assigning to u

[2020-09-26 17:05] akshitagupta15june commented on #160
issue is closed . code is already added please work on different issue.

[2020-09-26 17:05] #160 closed

[2020-09-26 17:09] akshitagupta15june commented on #133
ofcourse! assigning it to u.

[2020-09-26 17:10] akshitagupta15june commented on #153
ok please solve issues and raise a pr.

[2020-09-26 17:12] Manoj13-coder commented on #133
Thank you for your response

On Sat, 26 Sep 2020, 22:40 AKSHITA GUPTA, <notifications@github.com> wrote:

[2020-09-26 17:16] #155 closed

[2020-09-26 17:17] akshitagupta15june commented on #162
If anyone like to work in this issue can work.
add code in interview question repo

[2020-09-26 17:18] #168 closed

[2020-09-26 17:35] #129 closed

[2020-09-26 17:43] akshitagupta15june opened #172 "MATRIX SEARCH"
STAR THIS REPO!

Given an n x m matrix, where every row and column is sorted in increasing order, and a number x . Find if element x is present in the matrix or not.

Input Format

First line consists of two space separated integers N and M, denoting the number of element in a row and column respectively. Second line of each test case consists of N*M space separated integers denoting the elements

[2020-09-26 17:50] ayush523 commented on #172
I would like to work on this issue.

[2020-09-26 17:51] Maitryee-Choudhary commented on #172
I would like to work on this.Can you assign me?

[2020-09-26 17:52] muskan-goel09 commented on #172
I would like to work on it.

[2020-09-26 18:08] muskan-goel09 commented on #4
I would like to contribute

[2020-09-26 18:22] hritikkhurana10sm commented on #154
Thank u so much

[2020-09-26 19:18] hritikkhurana10sm commented on #172
I would like to work on this as for hacktober fest 2020. please assign

[2020-09-26 19:32] pawarhrishi21 opened #175 "Special Prime Sequence"
Given three prime numbers p, q, r, and an integer n.
You need to find the first(smallest) n distinct integers that only have p, q, and r or a combination of them as their prime factors.

Add file in the interview questions folder.

[2020-09-26 20:05] Priyanshu2802 commented on #87
@akshitagupta15june  I would love to contribute during HACKTOBER FEST. Please accept my PR during event.

[2020-09-26 21:04] sagarr70 commented on #172
I would like to Work on it. Please assign.

[2020-09-26 21:06] sagarr70 commented on #154
Can you assign this to me? I want to work on it.

[2020-09-26 21:11] sagarr70 commented on #131
Can I work on it as a part of hacktoberfest 2020.

[2020-09-26 21:28] sagarr70 commented on #61
I would like to take this issue as a part of hactoberfest. please assign

[2020-09-26 21:30] sagarr70 commented on #16
can i work on it
please assign

[2020-09-26 21:40] sagarr70 commented on #4
May i contribute to this

[2020-09-26 23:00] Kara3 commented on #62
I would also like to work on this issue as a part of Hactoberfest2020.

[2020-09-27 03:34] sparshs413 commented on #162
I just need to give the answer or like to provide a code on how to get the solution?
If there is a requirement of only the answer then the answer is 29!

[2020-09-27 04:40] #175 closed

[2020-09-27 04:41] akshitagupta15june opened #177 "HACKTOBERFEST 2020 (Open Source Celebration)"
We all know Hacktoberfest will be starting from 1st October 2020.

    Hacktoberfest is a celebration open to everyone in our global community.
    Pull requests can be made in any GitHub-hosted repositories/projects.
    You can sign up anytime between October 1 and October 31- here https://hacktoberfest.digitalocean.com/

 Four valid pull requests (PRs) between October 1-31 (in any time zone) ar

[2020-09-27 04:59] Manoj13-coder commented on #4
May i start contribution from 1 October ?

On Sun, 27 Sep 2020, 03:10 SAGAR AGGARWAL, <notifications@github.com> wrote:

[2020-09-27 04:59] Manoj13-coder commented on #153
May i start contribution from 1 October ?

On Sat, 26 Sep 2020, 22:40 AKSHITA GUPTA, <notifications@github.com> wrote:

[2020-09-27 05:00] Manoj13-coder commented on #133
May i start contribution from 1 October ?

On Sat, 26 Sep 2020, 22:42 Manoj Kumar, <
manojkumar.cse19@chitkarauniversity.edu.in> wrote:

[2020-09-27 05:00] akshitagupta15june commented on #4
yeah! no problem

[2020-09-27 05:01] Manoj13-coder commented on #4
Ok

On Sun, 27 Sep 2020, 10:30 AKSHITA GUPTA, <notifications@github.com> wrote:

[2020-09-27 05:38] gayatri517 commented on #59
hi, I would like to work on this issue please assign me.

[2020-09-27 05:53] vaibhavsahu342 commented on #131
can i take this?

[2020-09-27 06:27] akshitagupta15june commented on #131
i have assigned it

[2020-09-27 07:44] pawarhrishi21 commented on #140
@Pratik-ahirrao Go on. Make a Pull Request and link it here

[2020-09-27 07:45] MHFarooqui commented on #103
I would like to work on it. Can you assign this to me?

[2020-09-27 07:45] pawarhrishi21 commented on #138
@d2Anubis Okay. Put up a Pull Request and link it here.

[2020-09-27 07:47] pawarhrishi21 commented on #142
@SourabhBadhya. Put up a PR and link it in this issue

[2020-09-27 07:48] MHFarooqui opened #179 "Brackets validator"
Given a string containing a sequence  of brackets, identify  if the given bracket sequence  is valid or not.

[2020-09-27 07:48] MHFarooqui commented on #179
@iFrogHop2Worlds I would like to contribute  this algorithm can you assign this to me?

[2020-09-27 07:49] Shishir198 commented on #166
I would like to contribute in this.Can you please assign me.

[2020-09-27 07:51] Shishir198 commented on #179
I would like to contribute for this issue . Can you assign me

[2020-09-27 08:35] SourabhBadhya commented on #142
Ok assign it to me. I will do it.

[2020-09-27 12:09] yashasvimisra2798 opened #180 "Add code for Largest Sum Contiguous Subarray"
Write an efficient program to find the sum of contiguous subarray within a one-dimensional array
of numbers which has the largest sum.

[2020-09-27 12:10] yashasvimisra2798 commented on #180
I want to work on this issue for hacktoberfest. Please assign this to me.

[2020-09-27 15:17] akshitagupta15june commented on #179
ok

[2020-09-27 19:09] rishabhmishra25 commented on #19
I would Like to work on this! Is it still active for contribution?

[2020-09-27 19:16] akshitagupta15june commented on #103
Ok

[2020-09-27 19:19] akshitagupta15june commented on #180
Ok

[2020-09-27 19:21] #172 closed

[2020-09-27 19:22] #131 closed

[2020-09-27 22:52] RDLL opened #183 "Hash functions"
I think some hash functions are missing.
Can I work on it?

[2020-09-28 04:15] akshitagupta15june commented on #183
ok assigned to u

[2020-09-28 04:22] akshitagupta15june opened #184 "MAXIMUM CIRCULAR SUBARRAY SUM"
ADD IN ARRAY FOLDER

[2020-09-28 04:27] mephi007 commented on #184
Hey, I want to contribute to your repository and issue.. can you please explain the issue?

[2020-09-28 04:30] akshitagupta15june commented on #184
ok

[2020-09-28 04:31] akshitagupta15june commented on #184
i hope you know maximum mum subarray, the twist is that the array is circular now

[2020-09-28 04:49] akshitagupta15june opened #185 "Star This Repo ⭐⭐⭐"
Star This Repo ⭐⭐⭐
Please make sure to star this repository before contributing.
YOUR CONTRIBUTIONS TOWARDS OPEN SOURCE DSA ARE VALUABLE⭐
HAPPY CODING!!

[2020-09-28 04:57] akshitagupta15june opened #186 "Rotate an array to the left by 3 position."
add in array folder.
Rotate an array to the left by 3 position.
n<=10

[2020-09-28 04:57] akshitagupta15june opened #187 "Rotate an array to the right by 3 position."
add in array folder.
Rotate an array to the right by 3 position.
n<=10

[2020-09-28 05:09] Praddyumn16 commented on #187
Please assign this issue to me, i would like to work on it @akshitagupta15june

[2020-09-28 05:09] gokulkannan7 commented on #186
@akshitagupta15june can I tackle the issue?

[2020-09-28 05:15] akshitagupta15june commented on #187
ok

[2020-09-28 05:15] akshitagupta15june commented on #186
yeah

[2020-09-28 05:16] akshitagupta15june commented on #186
assigned

[2020-09-28 05:18] akshitagupta15june opened #188 "Clockwise rotation of Linked List"
add in linkedlist folder

[2020-09-28 05:20] gokulkannan7 commented on #186
@akshitagupta15june since this is a part of hacktoberfest, can I open PR in the first week of October?

[2020-09-28 05:23] Praddyumn16 commented on #187
Can it be done in cpp?

[2020-09-28 05:49] Ajit-53 commented on #188
i would like to work on this.Can you please assign me?

[2020-09-28 05:51] akshitagupta15june commented on #188
Ok

[2020-09-28 07:10] Ajit-53 commented on #95
i would like to work on this.Can you please assign me?

[2020-09-28 07:55] Ajit-53 commented on #142
i will do it in very optimize way. plz asign me for this task

[2020-09-28 08:53] sakibmahmud commented on #188
Hi,
I am new in open source and would like to contribute to this issue. Can you assign it to me please?

[2020-09-28 08:59] sakibmahmud commented on #180
Hi,
I would like to contribute to this issue.

[2020-09-28 09:00] akshitagupta15june commented on #180
ok

[2020-09-28 09:12] yashasvimisra2798 commented on #180
I'll be contributing in C++ language
@sakibmahmud @akshitagupta15june

[2020-09-28 12:39] ArvindR07 opened #191 "Coin Change problem in DP"
### - I would like to contribute the **Coin Change** problem under Dynamic Programming.

**Problem Statement:**
 Given a set of coins and a target value, find the number of distinct ordered ways to make that sum assuming you have infinite supply of the given coins.

[2020-09-28 13:29] pawarhrishi21 opened #192 "Palindromic Integer"
Determine whether a non-negative integer is a palindrome without using extra space.

Add in the Daily code folder.

[2020-09-28 16:01] piyush9311 commented on #191
May I work on this issue please

[2020-09-28 16:02] piyush9311 commented on #158
may I work on this issue pls.

[2020-09-28 16:03] piyush9311 commented on #192
May I work on this issue pls as it will help me alot to boost my open source contribution and also for hacktoberfest

[2020-09-28 16:04] ArvindR07 commented on #191
Maybe you can create another issue for different variant of this problem ie. all possible ways and contribute in that. What do you say?

[2020-09-28 16:06] piyush9311 commented on #191
sir you mean to say problem related to dynamic programming?

[2020-09-28 16:08] piyush9311 commented on #191
Sir will making an issue count to my PR , because I want to make PR's for HACKTOBERFEST?

[2020-09-28 16:08] ArvindR07 commented on #191
The problem statement can be modified as all possible ways instead of distinct ordered ways. You can work on that. Just create a new issue on the issues page and contribute in that.

[2020-09-28 16:10] piyush9311 commented on #80
May I work on this issue pls?

[2020-09-28 16:10] ArvindR07 commented on #191
No problem. Just create a new issue for that another problem. I am also a Hacktoberfest participant. It will still be assigned to you if mentor sees.

[2020-09-28 16:11] piyush9311 commented on #191
Ohk sir thanks a lot.

[2020-09-28 16:20] jabbar86 commented on #28
@akshitagupta15june  assign to me i will work as a part of hacktoberfest

[2020-09-28 16:26] akshitagupta15june commented on #28
Ok

[2020-09-28 16:28] akshitagupta15june commented on #192
Sure!
Thanks for the issues @pawarhrishi21

[2020-09-28 16:39] kritika122000 commented on #142
can you please assign me

[2020-09-28 16:40] kritika122000 commented on #139
can you please assign me

[2020-09-28 16:41] kritika122000 commented on #133
can you please assign me

[2020-09-28 16:42] kritika122000 commented on #83
can you please assign me

[2020-09-28 16:42] kritika122000 commented on #36
can you please assign me

[2020-09-28 16:42] kritika122000 commented on #27
can you please assign me

[2020-09-28 16:43] kritika122000 commented on #1
can you please assign me

[2020-09-28 16:43] kritika122000 commented on #2
can you please assign me

[2020-09-28 16:45] ArvindR07 commented on #191
I am ready to contribute to this problem. @akshitagupta15june

[2020-09-28 16:49] Manoj13-coder commented on #133
i already contributed this

On Mon, 28 Sep 2020, 22:11 Kritika Kumari, <notifications@github.com> wrote:

[2020-09-28 16:50] akshitagupta15june commented on #191
Ok assigning you.

[2020-09-28 16:52] #2 closed

[2020-09-28 20:58] sejalshri opened #193 "Minimum Steps in Infinite grid"
You are in an infinite 2D grid where you can move in any of the 8 directions
 (x,y) to
     (x+1, y) ,
     (x - 1, y) ,
     (x, y+1) ,
     (x, y-1) ,
     (x-1, y-1) ,
     (x+1,y+1) ,
     (x-1,y+1) ,
     (x+1,y-1)
You are given a sequence of points and the order in which you need to cover the points.. Give the minimum number of steps in which you can achieve it. You start from the first poin

[2020-09-28 21:05] sejalshri commented on #193
@akshitagupta15june ,i faced this problem while practicing interview questions.
kindly review this issue. i would like to raise a PR for the same as a part of hacktoberfest. please assign this to me.

[2020-09-28 22:18] mahimagoyalx commented on #27
@kritika122000 Sorry, I am working on this issue.

[2020-09-29 05:33] akshitagupta15june commented on #193
Ok

[2020-09-29 06:32] akshitagupta15june opened #194 "prime factorise a natural number into its prime factors."
add in maths folder

[2020-09-29 06:34] Pratap2018 commented on #194
assign me please

[2020-09-29 06:36] akshitagupta15june commented on #194
ok

[2020-09-29 06:41] akshitagupta15june opened #195 "Convert a matrix to its sparse matrix form"
add in matrix folder

[2020-09-29 06:44] akshitagupta15june opened #196 "Remove duplicates from a singly linked list"
add in linkedlist folder

[2020-09-29 06:45] tauseefmohammed2 commented on #195
I would like to work on this issue. Please assign it to me.

[2020-09-29 06:46] akshitagupta15june opened #197 "ADD RADIX SORT"
ADD IN SORTING&SEARCHING FOLDER

[2020-09-29 06:59] tauseefmohammed2 opened #198 "Binary Search Tree"
Implementation of Binary Search Tree and Performing Basic Operations such as Insertion, Deletion and Searching.

[2020-09-29 06:59] tauseefmohammed2 commented on #198
If you like the idea, please assign it to me.

[2020-09-29 07:05] JINDAL-JJ commented on #196
Please assign me over this issue. I would like to contribute over this under hactoberfest. Thank You!

[2020-09-29 07:34] meenal2000 commented on #196
hey akshita!
I have never made an open source contribution and I wanted this to be my first contribution . can you please assign me this issue?

[2020-09-29 07:38] illegalcall commented on #197
I'll be happy to contribute, If assigned, I will make the PR on 1st.

[2020-09-29 07:39] dipanshug124 commented on #196
Please assign this issue to me

[2020-09-29 07:39] dipanshug124 commented on #195
Please assign it to me

[2020-09-29 07:42] illegalcall commented on #195
I'll be happy to contribute, If assigned, I will make the PR on 1st.

[2020-09-29 07:53] pawarhrishi21 opened #200 "Element Difference equal to k"
Given an array, ‘A’ of **sorted integers** and another non-negative integer k, find if there exist 2 indices i and j such that

Required Time Complexity: O(n)

Add CPP file in the daily code folder.

[2020-09-29 08:15] gayatri517 opened #201 "Phone keypad problem"
The task in this question is to print all the substrings possible by the keypad of the phone from a number entered by the user.

[2020-09-29 08:15] gayatri517 commented on #201
I would like to add this code in c++ please assign it to me

[2020-09-29 08:52] chhipanikhil9 commented on #196
I can write code in cpp.

[2020-09-29 09:36] APOORVANAGAR-2002 commented on #200
Hey! can I work on this problem

[2020-09-29 10:24] Durveshpal commented on #197
hey,  you can Implement CRUD Operations With Sorting, Searching, And Paging Using EF Core In ASP.NET Core

[2020-09-29 10:27] Durveshpal commented on #195
After extracting HOG features of the folder of images, I want to add all these results in one matrix.

[2020-09-29 10:30] Durveshpal commented on #196
Hey, I can do because I have an abstract data type of a singly linked list, and my compiler is stuck when running this part of the test code.

    test.removeDuplicates();
    System.out.println("removeDuplicates() has been run, check following output for counts of 3");
    test.print();

[2020-09-29 10:39] yashkansal commented on #188
Can I work on this in cpp

[2020-09-29 10:43] Akash52 opened #202 "I would like to add optimize code for Binary Exponentiation as a part of Hacktoberfest."
Please assign me I'm work on these !

[2020-09-29 16:42] HeroPlayDev opened #203 "Just for test"
No issues!!!

[2020-09-29 17:07] akshitagupta15june commented on #198
Ok

[2020-09-29 17:08] akshitagupta15june commented on #201
Ok

[2020-09-29 17:09] akshitagupta15june commented on #202
Ok

[2020-09-29 17:10] #203 closed

[2020-09-29 17:18] Aditi-1400 opened #204 "Square Root Decomposition"
Implementation of Square Root Decomposition technique to optimise solution to query based problems.

[2020-09-29 17:18] Aditi-1400 commented on #204
Hey can I work on this  as a part of Hacktoberfest

[2020-09-29 17:21] HeroPlayDev opened #205 "Test1"
No...

[2020-09-29 17:30] akshitagupta15june commented on #205
@HeroPlayDev this is not allowed!

[2020-09-29 17:30] akshitagupta15june commented on #205
Issues should be related to CPP

[2020-09-29 17:30] #205 closed

[2020-09-29 17:30] akshitagupta15june commented on #204
Yeah!

[2020-09-29 19:55] surya7765 commented on #200
Hey! Can I do PR for this issue?

[2020-09-29 20:35] aadityasohani commented on #200
hi! I would like to contribute to hacktoberfest2020 through your repo.

[2020-09-29 20:38] aadityasohani commented on #197
I would love to contribute to this repo as my ongoing research topic is the same please assign me with this.

[2020-09-30 02:53] wasimparsani commented on #198
I know the implementation of insertion, deletion, check height, preorder, postorder, and inorder traversal in the Binary search tree.
If you like you can assign me this task

[2020-09-30 02:54] wasimparsani commented on #196
Please assign me this task I can definitely do it

[2020-09-30 03:54] PuneethKshetty commented on #162
I would like to provide you the answer so can i just send you the pull request inorder to answer the question !!. Please can you assign it to me.

[2020-09-30 04:15] Rahulraj31 commented on #196
Please assign me this task

[2020-09-30 04:28] PuneethKshetty commented on #157
Ok i would like to provide my solution for that problem so should i just give the explaination or should i just give the answer?

[2020-09-30 04:44] #180 closed

[2020-09-30 04:45] #196 closed

[2020-09-30 06:41] alkatrivedi opened #207 "nth Catalan Number"
I would like to add program in cpp for finding nth Catalan Number. Can I work on this issue as a part of Hacktoberfest?

[2020-09-30 07:17] Valkyrie006 opened #208 "Pascal's Triangle"
### Description
Write a function to create n lines of Pascal's triangle.
### Language
C++
### Deliverables

- Code

- Comments for better understanding
@akshitagit can I work on this as part of Hactoberfest?

[2020-09-30 07:20] Valkyrie006 opened #209 "Graph: Find if a cycle exists in an undirected graph"
### Description
Write a function to check if a cycle exists in an undirected graph.
### Language
C++
### Deliverables

- Code

- Comments for better understanding
@akshitagit can I work on this as part of Hactoberfest?

[2020-09-30 07:49] kashika3101 commented on #195
I would also like to work on it . I would like to work with C++ or C. Can you please assign it to me?

[2020-09-30 07:53] kashika3101 commented on #156
I would also like to work on it . I would like to work with C++ or Python. Can you please assign it to me?
@pranjalibajpai @AkashGit21

[2020-09-30 07:58] kashika3101 commented on #17
I would also like to work on it .I would like to work with C++ . Can you please assign it to me?
@akshitagupta15june

[2020-09-30 08:21] VyomGarg47 opened #210 "Graph: Disjoint Set Union Data Structure"
Hey, I would like to add DSU Data Structure. its various properties and its use cases. Can I work on this ?
Code:  **C++**

[2020-09-30 08:26] aakashkumarjee opened #211 "Tree: Boundary Traversal of a Binary Tree"
Hey, I would like to add Boundary traversal Algorithm for a binary tree alongwith great explaination of how it works. Can I work on this ?
Code Language : **C++**

[2020-09-30 09:09] incognito1729 commented on #200
Hey! Can I work on this problem?

[2020-09-30 09:19] incognito1729 commented on #195
I would like to contribute for this repo

[2020-09-30 09:21] Harshal0902 commented on #187
@akshitagupta15june can I work on this issue?

[2020-09-30 09:21] Harshal0902 commented on #186
@akshitagupta15june can I work on this issue?

[2020-09-30 09:23] incognito1729 commented on #209
@akshitagit can I work on this as part of Hactoberfest?

[2020-09-30 09:31] akshitagupta15june commented on #209
YES

[2020-09-30 09:51] chhipanikhil9 commented on #209
i can code in cpp

[2020-09-30 09:54] bdyutish opened #212 "Slightly modified Knapsack problem"
You have to choose some of the N items. Your knapscak has a capacity of W which means that the sum of the weights of items taken must be at most W. Item i has a weight of Wi and a value of Vi. Find the maximum possible sum of the values of items that you can home.
The twist here being that the constraints for W is 1<=W<=1e9. 1<=Vi<=1e3.

Found this to be a very interesting variation of the popular

[2020-09-30 09:56] kashika3101 commented on #139
Please assign this issue to me

[2020-09-30 10:02] chhipanikhil9 commented on #202
can you assign me ? i can code in cpp

[2020-09-30 10:07] chhipanikhil9 opened #213 "Check whether given string of parenthesis is balanced or not."
Check whether given string of parenthesis is balanced or not.

[2020-09-30 10:09] kashika3101 commented on #200
hi! I would like to contribute to hacktoberfest2020 .Can you assign me this issue?

[2020-09-30 10:10] meenal2000 commented on #209
Can you assign me this , I wanna do it in hacktoberfest . Also, I am in my sophomore year and know c,c++. So, it would be great if I can apply it .

[2020-09-30 10:11] chhipanikhil9 commented on #213
please assign to me

[2020-09-30 10:11] kashika3101 commented on #213
I would love to contribute to hacktoberfest. Can this be assigned to me?

[2020-09-30 10:29] DevanshD3 commented on #208
Hey I would love to work on this as a part of hactoberfest!

[2020-09-30 10:33] DevanshD3 commented on #208
**### Description**
Write a function to create n lines of Pascal's triangle.

Language
C++, Python, C

Deliverables
Code

Comments for better understanding
@akshitagupta15june  can I work on this as part of Hactoberfest?

[2020-09-30 10:38] akshitagupta15june commented on #208
yes

[2020-09-30 10:49] Pratik-ahirrao commented on #211
I want to work on this issue?

[2020-09-30 10:50] AC-BOSS opened #215 "Multiply Large Numbers"
I would like to add the code for multiplication of large numbers(which may or may not contain decimals) in the dailycode folder

[2020-09-30 10:52] akshitagupta15june opened #216 "ARRAY WAVE PRINT (CLOCKWISE)"
ADD IN ARRAY REPO

[2020-09-30 10:53] akshitagupta15june opened #217 "ARRAY WAVEPRINT ANTICLOCKWISE"
ADD IN ARRAY REPO

[2020-09-30 10:55] akshitagupta15june opened #218 "ARRAY SPIRAL PRINT (CLOCKWISE)"
ADD IN ARRAY FOLDER

[2020-09-30 10:55] Pratik-ahirrao commented on #218
I want to work on this issue.

[2020-09-30 10:56] akshitagupta15june opened #219 "ARRAY SPIRAL PRINT (ANTI-CLOCKWISE)"

[2020-09-30 10:57] Pratik-ahirrao commented on #216
I want to work on this

[2020-09-30 10:57] Pratik-ahirrao commented on #217
I want to work on this

[2020-09-30 10:59] Pratik-ahirrao commented on #219
I want to work on this.
Please assign me.

[2020-09-30 10:59] sourabhkumar45 commented on #207
I would like to work on this.

[2020-09-30 11:04] mk-singhal commented on #216
Hey @akshitagupta15june ,
I would like to take this up.

[2020-09-30 11:04] aakashkumarjee commented on #211
Thanks @Pratik-ahirrao  but, I am already done with this issue. Created a succussfull Pull Request

[2020-09-30 11:08] akshitagupta15june opened #223 "FACTORIAL OF LARGE NUMBERS"
Numbers such as 1000 , 100 how to calculate factorial of large numbers

ADD IN MATHS FOLDER

[2020-09-30 11:09] mk-singhal commented on #215
Hi @akshitagupta15june ,
I would like to work on this...

[2020-09-30 11:14] alkatrivedi commented on #207
@sourabhkumar45 I am already working on it.

[2020-09-30 11:18] LikhithShankarPrithvi commented on #223
Hey there I will do this ...Please Add Me

[2020-09-30 11:19] sukritishah15 commented on #223
I would like to claim this issue in C++ as a part of Hacktoberfest 2020

[2020-09-30 11:24] sourabhkumar45 commented on #208
I would like to work on it.

[2020-09-30 11:27] saumya66 commented on #218
Hey @akshitagupta15june , I wanted to ask that why the new ARRAY folder here is not there in my forked repo

[2020-09-30 11:30] Valkyrie006 opened #224 "Graph: Find a cycle in a directed graph"
### Description
Write a function to check if a cycle exists in an undirected graph.

### Language
C++

### Deliverables

- Code

- Comments for better understanding

@akshitagit can I work on this as part of Hactoberfest?

[2020-09-30 11:31] Valkyrie006 commented on #209
Thanks

[2020-09-30 11:31] satwik-chowdary commented on #223
I will do it

[2020-09-30 11:31] Valkyrie006 commented on #208
Thanks

[2020-09-30 11:33] anayroy0007 commented on #223
i would like to do this task in python for hacktoberfest 2020

[2020-09-30 11:33] satwik-chowdary commented on #215
I can work on this

[2020-09-30 11:36] Valkyrie006 commented on #224
Thanks

[2020-09-30 11:37] utchak160 opened #225 "Happy Number"
**Description**
Write an algorithm to determine if a number n is "happy".

A happy number is a number defined by the following process: Starting with any positive integer, replace the number by the sum of the squares of its digits, and repeat the process until the number equals 1 (where it will stay), or it loops endlessly in a cycle which does not include 1. Those numbers for which this process e

[2020-09-30 11:47] utchak160 opened #226 "MAXIMUM SUBARRAY"
**Description**
Given an integer array nums, find the contiguous subarray (containing at least one number) which has the largest sum and return its sum.

Example 1:

Input: nums = [-2,1,-3,4,-1,2,1,-5,4]
Output: 6
Explanation: [4,-1,2,1] has the largest sum = 6.
Example 2:

Input: nums = [1]
Output: 1

@akshitagit can I work on this program for this Hacktober fest?

[2020-09-30 11:49] utchak160 commented on #225
Thanks

[2020-09-30 12:04] DevanshD3 commented on #192
Hey can I work on this issue for the Hactoberfest 2020. It will help me get a start open source contribution

[2020-09-30 12:24] AC-BOSS opened #228 "Rod Cutting problem"
May I add the two codes of rod-cutting problem: **top-down**  and **bottom-up** approach in the dynamic programming folder?

[2020-09-30 12:32] AC-BOSS opened #229 "Counting Inversions Problem"
### Description
Given an array A, count the total number of possible inversions. If there indices i and j such that i > j and A[i] < A[j], then there is a possible inversion.
May I add the solution to this problem, using Divide and Conquer method? Should I create a new folder named Divide and Conquer? Or should I add this code to Array folder?

[2020-09-30 12:50] incognito1729 commented on #226
@akshitagit can I work on this program for this Hacktober fest?

[2020-09-30 13:13] anubhavb11 commented on #223
I would solve this problem using C++ and provide u algo too.

[2020-09-30 13:38] RutvikMori18 opened #231 "M x N size matrix transpose"
Please assign me. I am work on it.

[2020-09-30 14:08] Bijoy-007 opened #233 "LPS using dynamic programming"
can i do this?

[2020-09-30 14:42] prasunna09 commented on #198
Implementing BST with basic operations such as insertion, deletion, checking its height , searching an element, preorder, postorder, inorder traversal.
If you like, you can assign me this task.

[2020-09-30 14:46] prasunna09 commented on #80
Could you please assign it to me?
I would like to work on this.

[2020-09-30 14:56] Parshwa52 opened #235 "AVL tree Full Implementation with insertion and deletion"
@akshitagupta15june
Can I work on this issue and can you assign it to me?

[2020-09-30 14:57] aansh-01 commented on #235
please assign this to me in cpp

[2020-09-30 15:05] piyush9311 commented on #192
Sorry its already assigned to me and I am working on it .You can work on other issues.

[2020-09-30 15:44] utchak160 opened #240 "Add Binary"
**Description**
Given two binary strings, return their sum (also a binary string).

The input strings are both non-empty and contain only characters 1 or 0.

Example 1:

Input: a = "11", b = "1"
Output: "100"
Example 2:

Input: a = "1010", b = "1011"
Output: "10101"

@akshitagit can I work on this issue for Hacktoberfest 2020?

[2020-09-30 15:53] PriyanshuSaini commented on #235
@akshitagupta15june I want to work on this issue, and i will provide better explaination along with code.Please assign this to me.

[2020-09-30 15:58] mk-singhal commented on #226
@utchak160 @akshitagupta15june  Please assign this to me...

[2020-09-30 16:01] Rituraj-commits commented on #195
Hello @akshitagupta15june . Would love to take up this issue and make it more efficient using C++.

[2020-09-30 16:01] Bijoy-007 commented on #233
Please assign this to me

[2020-09-30 16:03] Rituraj-commits commented on #200
Would love to work on this issue and make it more efficient.

[2020-09-30 16:07] PriyanshuSaini opened #242 "Trapping rain water problem"
Given an array arr[] of N non-negative integers representing height of blocks at index i as Ai where the width of each block is 1. Compute how much water can be trapped in between blocks after raining.
Structure is like below:
|  |
|_|
We can trap 2 units of water in the middle gap.

Input:
The first line of input contains an integer T denoting the number of test cases. The description of T test c

[2020-09-30 16:08] Rituraj-commits commented on #235
@akshitagupta15june  looking forward to work on this issue with proper documentation and proper scalable code.

[2020-09-30 16:10] Rituraj-commits commented on #233
@akshitagupta15june  would love to work on this issue. Looking Forward.

[2020-09-30 16:16] Rituraj-commits commented on #228
assign this problem to me. Would love to solve this using DP.

[2020-09-30 16:18] Rituraj-commits commented on #226
Looks a simple issue. Assign it to me @utchak160

[2020-09-30 16:19] Rituraj-commits commented on #225
Hello @utchak160 @akshitagupta15june . Would love to solve this problem. Can you assign it to me ?

[2020-09-30 16:20] akshitagupta15june commented on #242
This issue was already there and been closed.

[2020-09-30 16:20] #242 closed

[2020-09-30 16:21] AC-BOSS opened #243 "Queue using two stacks"
I would like to implement a queue using two stacks

[2020-09-30 16:21] Rituraj-commits commented on #224
Plzz assign the issue to me. Would love to make it more efficient @Valkyrie006 .

[2020-09-30 16:26] Rituraj-commits commented on #215
I would like to work on this  issue.

[2020-09-30 16:27] mallick370 commented on #213
I would love to contribute to hacktoberfest. Can this be assigned to me?

[2020-09-30 16:31] Rituraj-commits opened #245 "Fibonacci Number using Binet's Theorem"
Hi... I would like to implement a very simple solution to find the nth Fibonacci number using Binet's Formula. Can I work on this issue for HacktoberFest 2020.

[2020-09-30 16:40] rudrakshi99 opened #248 "Flood fill algorithm"
I would like to add Flood fill algorithm in the Graph folder.
**code:** c++
Can I work on this issue as a part of Hacktoberfest?

[2020-09-30 16:41] Rituraj-commits commented on #245
Plz assign this issue to me

[2020-09-30 16:44] mallick370 commented on #187
Please assign this issue to me, i would like to work on it @akshitagupta15june

[2020-09-30 16:45] Rituraj-commits opened #250 "Check if a Binary Tree is a Binary Search Tree"
I would like to work on this issue.

[2020-09-30 16:45] mcaupybugs opened #251 "Count number of binary strings without consecutive 1’s"
Given a positive integer N, count all possible distinct binary strings of length N such that there are no consecutive 1’s.
I would like to work on it. Which folder should I add it to?

[2020-09-30 16:46] PriyanshuSaini opened #252 "Egg dropping puzzle_dp-problem"
Suppose you have N eggs and you want to determine from which floor in a K-floor building you can drop an egg such that it doesn't break. You have to determine the minimum number of attempts you need in order find the critical floor in the worst case while using the best strategy.There are few rules given below.

An egg that survives a fall can be used again.
A broken egg must be discarded.
The eff

[2020-09-30 16:49] Rituraj-commits opened #254 "Balanced parenthesis using stack"
This code is missing. Would like to work on this issue.

[2020-09-30 16:51] Rituraj-commits commented on #245
I'm already working on it @kritika122000

[2020-09-30 16:54] saurabhkanswal opened #255 "Longest Palindromic Sub-sequence"
hey,
love to add cpp code for longest palindromic subsequence problem under dynamic programming folder.

[2020-09-30 16:55] Parshwa52 opened #256 "Circular Queue using linkedlist"
Can I work on this issue?

[2020-09-30 16:55] Rituraj-commits opened #257 "Construct a Binary Tree from given Inorder and preorder Traversal"
Assign this issue to me.

[2020-09-30 16:58] Rituraj-commits opened #260 "Reverse a Binary tree"
Assign this issue to me @akshitagupta15june

[2020-09-30 17:00] MatheusMuriel commented on #254
I want work on it, you can assing to me?

[2020-09-30 17:01] niranjanneeru commented on #195
I have a plan of implementing this using C++

Vector in STL

[2020-09-30 17:01] mcaupybugs opened #262 "KMP Algorithm for Pattern Searching"
Finding all the occurrence of Pattern string in the target string using the KMP string searching algorithm.

[2020-09-30 17:01] sahastrakishore123 commented on #250
Hi @Rituraj-commits

I would like to do this. Can you assign me to do as a part of Hacktoberfest?

[2020-09-30 17:02] PriyanshuSaini commented on #252
@akshitagupta15june  Please assign this to me.

[2020-09-30 17:02] ShahzaibJutt commented on #254
Can you assign it to me?

[2020-09-30 17:03] sahastrakishore123 commented on #243
Hi @akshitagupta15june

I would like to do this. Can you assign me to do as a part of Hacktoberfest?

[2020-09-30 17:05] sahastrakishore123 commented on #231
Hi @RutvikMori18

I would like to do this. Can you assign me to do as a part of Hacktoberfest?

[2020-09-30 17:06] Rituraj-commits opened #263 "Check if a Linked List is a Palindrome"
I want to work on this issue.

[2020-09-30 17:07] Parshwa52 opened #264 "B-Tree Implementation"
Can I work on this issue?

[2020-09-30 17:09] mallick370 commented on #255
I will like to work on it. Can you assign it to me?

[2020-09-30 17:10] Rituraj-commits opened #265 "Zig-Zag traversal of Binary Tree"
I want to work on this issue

[2020-09-30 17:11] sahastrakishore123 commented on #254
Hi @akshitagupta15june

I would like to do this. Can you assign me to do as a part of Hacktoberfest?

[2020-09-30 17:12] ViKrAm-Bais commented on #263
please assign it to me, I want to work on this issue

[2020-09-30 17:13] hritikkhurana10sm commented on #250
I would like to do this. Mam please assign me

[2020-09-30 17:13] ViKrAm-Bais commented on #256
I want to work on this issue

[2020-09-30 17:18] mallick370 opened #269 "Lowest Common Ancestor in a Binary Tree"
Given a binary tree (not a binary search tree) and two values say n1 and n2, write a program to find the least common ancestor.

[2020-09-30 17:21] mallick370 opened #270 "Rearrange array such that even positioned are greater than odd"

[2020-09-30 17:26] VyomGarg47 opened #272 "Addition and Multiplication of Sparse Matrices"
Given 2 Sparse Matrices A and B, Find the values of A + B and A x B.
**Note:** A Sparse Matrix is a matrix which contains very few non-zero elements.
**Language:** C++

[2020-09-30 17:27] kimkim480 commented on #270
Can you explain it?

[2020-09-30 17:29] VyomGarg47 opened #273 "Find the Diameter of a given binary Tree"
Given a binary tree, find the length of the diameter of the tree.
**Note:** The diameter of a binary tree is the length of the longest path between any 2 nodes of a tree.

[2020-09-30 17:31] pawarhrishi21 commented on #192
Sure! You're welcome

[2020-09-30 17:33] hritikkhurana10sm commented on #269
PLease assign mam . I would like to take this issue..

[2020-09-30 17:34] mallick370 commented on #270
@kimkim480 Given an array A of n elements, sort the array according to the following relations :
if i is even, A[i]>=A[i-1]
if i is odd, A[i]<=A[i-1]

[2020-09-30 17:36] pranav6670 commented on #273
Can I do this? Please assign this issue to me! Thank You1

[2020-09-30 17:37] pranav6670 commented on #272
Can I do this one? Thank You!

[2020-09-30 17:38] mallick370 commented on #269
@hritikkhurana10sm assigned

[2020-09-30 17:40] yogesh-kansal commented on #269
I want to work on this in c++,please assign it to me

[2020-09-30 17:42] sejalshri commented on #270
@mallick370 i would like to work on this issue.please assign it to me.

[2020-09-30 17:42] Pranav1642 commented on #256
Can I work on this issue?

[2020-09-30 17:45] kimkim480 commented on #270
Ok, I will try this one

[2020-09-30 17:45] sejalshri commented on #270
@akshitagupta15june @mallick370 i would like to work on this issue.please assign it to me.

[2020-09-30 17:47] ojas032 commented on #265
Can you assign this to me ,I wan to work on this Issue

[2020-09-30 17:49] yogesh-kansal commented on #263
please assign it to me i want to work on this issue in c++

[2020-09-30 17:52] ojas032 commented on #273
I want to work on this Issue ,can you assign me this.

[2020-09-30 17:52] agrawal-deeksha commented on #262
I would love to work on this. Please assign this issue to me. :smile:

[2020-09-30 18:03] ag278 opened #275 "Implementation of Tim sort"
TimSort is a sorting algorithm based on Insertion Sort and Merge Sort. It is a stable sorting algorithm works in O(n Log n) time complexity

[2020-09-30 18:03] ag278 commented on #275
@akshitagupta15june I would like to contribute on this issue. Please assign me this issue

[2020-09-30 18:07] sharleenclement commented on #231
Hi can I work on this?

[2020-09-30 18:07] Aliex-dev commented on #197
i will love to add the radix sort

[2020-09-30 18:09] ram983shah opened #276 "Quicksort"
Implement quick sort.

[2020-09-30 18:10] yogesh-kansal commented on #276
assign it to me

[2020-09-30 18:11] yogesh-kansal commented on #257
i want to work on this issue ,assign it to me

[2020-09-30 18:11] Sambhu98 commented on #225
I would like to work on this problem.Can you assign it to me?

[2020-09-30 18:11] suryakamalog opened #277 "Minimum sum partition"
Given an integer array "arr" of size N, the task is to divide it into two sets S1 and S2 such that the absolute difference between their sums is minimum and find the minimum difference.

[2020-09-30 18:11] suryakamalog commented on #277
@akshitagupta15june I would like to contribute on this issue. Please assign me this issue

[2020-09-30 18:13] akshitagupta15june commented on #276
already added

[2020-09-30 18:13] #276 closed

[2020-09-30 18:13] Sambhu98 commented on #209
I would like to solve this one, can you assign me with this issue?

[2020-09-30 18:15] Parshwa52 opened #278 "B+ Tree Implementation"
Complete Insertion operation in B+ Tree

[2020-09-30 18:15] hritikkhurana10sm commented on #273
Can u please assign this issue to me!

[2020-09-30 18:16] Sambhu98 commented on #156
ok I would like to solve this one,can you assign me this one?

[2020-09-30 18:17] hritikkhurana10sm commented on #257
mam i would like to work on this issue . please assign..

[2020-09-30 18:21] hritikkhurana10sm commented on #231
i would like to work on this issue. Mam please assign...

[2020-09-30 18:21] js0805 commented on #200
Hey! Please I would like to work on this issue. Please assign it to me

[2020-09-30 18:23] sharleenclement commented on #217
Hey @akshitagupta15june , can I work on this?

[2020-09-30 18:24] adamos2468 commented on #262
Can I have it?

[2020-09-30 18:26] mcaupybugs commented on #262
@adamos2468 I have already submitted a pull request. Waiting for response by @akshitagupta15june.

[2020-09-30 18:26] bvishal8510 opened #280 "Big Integer Implentation"
Complete implementation of big integer required to store very large numbers

[2020-09-30 18:26] Sambhu98 commented on #200
I would like to solve this issue, can you help me with getting started?

[2020-09-30 18:30] bvishal8510 opened #286 "Algorithm for activity selection - Greedy Approach"

[2020-09-30 18:31] vvekparmar commented on #256
can i work on this issue? Please assign to me.

[2020-09-30 18:31] Aliex-dev commented on #195
i will work on this issue

[2020-09-30 18:31] Aliex-dev commented on #195
i will use c++

[2020-09-30 18:32] bvishal8510 opened #289 "Left view of a binary search tree"

[2020-09-30 18:32] vvekparmar commented on #255
can i work on this issue? Please assign to me

[2020-09-30 18:32] hritikkhurana10sm commented on #289
please assign...

[2020-09-30 18:32] AltCtrlDel1999 opened #294 "check if a string contains valid parenthesis or not"

[2020-09-30 18:33] AltCtrlDel1999 commented on #294
I would like to work on it
Please add hactoberfest label

[2020-09-30 18:34] Satvik-B commented on #286
Would like to work on this please assign

[2020-09-30 18:34] sejalshri commented on #193
@akshitagupta15june kindly review this PR.

[2020-09-30 18:34] mallick370 opened #299 "Arrange given numbers to form the biggest number"

[2020-09-30 18:35] bvishal8510 opened #302 "Fractional Knapsack Implmentation"

[2020-09-30 18:39] AltCtrlDel1999 opened #307 "Search in a rotated sorted array"
I would like to work on it

[2020-09-30 18:39] i-Pix commented on #280
can you assign this to me?

[2020-09-30 18:40] i-Pix commented on #264
Can I work on this issue?

[2020-09-30 18:44] nilam23 commented on #256
I would love to work on this and implement the algorithm accordingly.

[2020-09-30 18:44] YUVRAJMOTWANI99 opened #321 "Moorey's Voting algorithm"
Find majority element (>n/2) in an array.
INPUT:- [3,3,1,1,1,3,3]
OUTPUT:- 3.

[2020-09-30 18:45] YUVRAJMOTWANI99 commented on #321
@akshitagit pls. assign this to me.

[2020-09-30 18:48] AltCtrlDel1999 opened #329 "Longest Substring without repetating characters"
I would like to work on it

[2020-09-30 18:50] shrishtrip commented on #257
Can I work on this issue?

[2020-09-30 18:50] Atithi360 commented on #278
I want to do this task

[2020-09-30 18:51] Sankalan47 commented on #278
Hi, I would like to contribute on this

[2020-09-30 18:52] rafu01 commented on #302
Would like to contribute
is this part of hacktober fest?

[2020-09-30 18:55] theekrystallee commented on #277
was this assigned?

[2020-09-30 18:58] sharleenclement commented on #299
Hey @mallick370 , can I take this up?

[2020-09-30 18:59] AltCtrlDel1999 opened #344 "Count Prime no's upto a given number"

[2020-09-30 19:04] mahimagoyalx opened #350 "Swap Two Nibbles"
I would like to contribute to this issue as a part of Hacktoberfest, this falls under bit masking

[2020-09-30 19:05] ayushi-1408 commented on #256
I would love to implement this in c

[2020-09-30 19:08] SankalpSh commented on #350
@mahimagoyalx I would like to work on this.Please assign me this issue.

[2020-09-30 19:09] ajitg1 commented on #260
Hey @Rituraj-commits, I would love to work on this issue, please assign.

[2020-09-30 19:09] UtkarshChaurasia opened #355 "Count Inversion Problem"
Inversion Count : For an array, inversion count indicates how far (or close) the array is from being sorted. If array is already sorted then inversion
count is 0. If array is sorted in reverse order that inversion count is the maximum.
Formally, two elements a[i] and a[j] form an inversion if a[i] > a[j] and i < j.
Input:
The first line of input contains an integer T denoting the number of test ca

[2020-09-30 19:09] singlamohit1 commented on #263
Could you assign it to me , I want to work on this issue in C++

[2020-09-30 19:11] Sambhu98 commented on #355
I would like to solve this problem, please help me with getting started

[2020-09-30 19:12] UtkarshChaurasia commented on #355
@akshitagupta15june I want to work on this issue as a part of Hacktoberfest.

[2020-09-30 19:12] mahimagoyalx commented on #350
@SankalpSh I have already made the pull request.

[2020-09-30 19:13] UtkarshChaurasia commented on #355
I have opened this issue for myself. You can open up an issue and work on that. Cheers

[2020-09-30 19:13] mahimagoyalx opened #360 "Ackermann Function"
This falls in the maths section, I would like to work on this issue.

[2020-09-30 19:22] chauhannaman98 commented on #321
@akshitagit I have already complete this one in #351

[2020-09-30 19:22] singhalpranav22 opened #370 "This repo is marked as Invalid in Hacktober fest"

[2020-09-30 19:23] akshitagupta15june commented on #370
who told you?

[2020-09-30 19:23] ishi0301 opened #371 "fibonacci_top_down"

[2020-09-30 19:23] akshitagupta15june commented on #370
hacktoberfest has not said this.

[2020-09-30 19:23] #370 closed

[2020-09-30 19:25] singhalpranav22 commented on #370
My pull request in website is invalid.
<img width="524" alt="Screenshot 2020-10-01 at 12 53 57 AM" src="https://user-images.githubusercontent.com/51447798/94730380-c2925800-0380-11eb-83ec-aca7fb7a591b.png">
<img width="724" alt="Screenshot 2020-10-01 at 12 55 02 AM" src="https://user-images.githubusercontent.com/51447798/94730386-c4f4b200-0380-11eb-804f-b7c1ac4976c6.png">

[2020-09-30 19:25] ajitg1 commented on #371
Hey @ishi0301, I would love to work on this issue, assign me.

[2020-09-30 19:25] simrann20 opened #374 "Print Even-after-odd Linked List"
I want to contribute to this issue as part of Hacktoberfest, falls under the linked list category.

Please check out my PR #366  which fixes this.

[2020-09-30 19:27] akshitagupta15june commented on #370
i dont know why is this happening! hacktoberfest have not raised a issue here.

[2020-09-30 19:29] pranshi112 commented on #140
Can I work on this?

[2020-09-30 19:30] #277 closed

[2020-09-30 19:30] silentWatcher3 commented on #87
But why should starring a repo be mandatory for a contribution (a serious contribution) ? 😠

[2020-09-30 19:31] akshitagupta15june opened #381 "Pull requests here won’t count toward Hacktoberfest"
This repo has been turned down by hacktoberfest.
there is no reason why.
Very sorry for incovienience

[2020-09-30 19:32] singhalpranav22 commented on #370
yes you are right

[2020-09-30 19:33] singhalpranav22 commented on #370
Similar issue with python repo as well . Please check.

[2020-09-30 19:34] akshitagupta15june commented on #381
I don't know why many have reported this repo as spam and unfortunately it has been turned down.
It was beginner friendly repo. If anyone still wants to contribute they can still contribute in this repo.

[2020-09-30 19:35] akshitagupta15june commented on #370
Many people just for there fun have reported spam.

[2020-09-30 19:38] shibrahmachari commented on #381
this was very unfortunate. We will making prs

[2020-09-30 19:40] akshitagupta15june commented on #381
I am very sorry everyone for the inconvienience.
I also didn't know what happened?

[2020-09-30 19:40] rubisingh2020 commented on #200
Please assign me this issue.

[2020-09-30 19:43] shibrahmachari commented on #381
Your repo was very active even before hacktober started. What happened suddenly ://

[2020-09-30 19:43] YUVRAJMOTWANI99 commented on #321
@chauhannaman98  sorry I did not see.

[2020-09-30 19:43] #321 closed

[2020-09-30 19:45] chetangupta2104 commented on #381
Many have reported it as spam

[2020-09-30 19:46] Riya1935 commented on #200
Hi ! I am a B.tech pre-final year student at IIT Patna having a good grasp on data structures and algorithms and I am new to open-source contribution. I can solve this issue and I would love to work on it.. Please assign me this issue @pawarhrishi21

[2020-09-30 19:55] singhalpranav22 commented on #370
Unfortunate

[2020-09-30 20:13] shibrahmachari commented on #381
@akshitagupta15june will you still merge the prs we made considering the repo was valid, please?

[2020-09-30 22:09] Roshan13046 commented on #240
I would like to work on this issue.
Please assign.

[2020-09-30 22:10] Roshan13046 commented on #229
I would like to work on this issue.
Please assign.

[2020-09-30 23:41] ayerhs7 commented on #226
I have done this. Please assign this to me!

[2020-09-30 23:42] ayerhs7 commented on #225
I have already done this problem. Please assign this to me

[2020-09-30 23:42] ayerhs7 commented on #223
I have already solved this problem in C++. Assign it to me please

[2020-10-01 02:18] yashica-patodia commented on #265
I want to work on this issue

[2020-10-01 02:18] yashica-patodia commented on #226
I want to work on this issue

[2020-10-01 02:19] yashica-patodia commented on #260
i want to work on this issue

[2020-10-01 04:08] akshat12000 commented on #273
Please assign me this issue

[2020-10-01 04:28] pawarhrishi21 opened #415 "Add Binary Strings"
Given two binary strings, return their sum as another binary string.

[2020-10-01 04:32] pawarhrishi21 commented on #415
Add file in Maths folder

[2020-10-01 04:32] promaroy commented on #219
I want to work on this issue.

[2020-10-01 04:34] pawarhrishi21 commented on #415
#416 Issue solved

[2020-10-01 04:35] pawarhrishi21 commented on #415
#416

[2020-10-01 04:35] #415 closed

[2020-10-01 05:08] SourabhBadhya commented on #142
#421 The pull request has been submitted here for Kth smallest element in Binary Search Tree

[2020-10-01 05:13] jayadevvasudevan opened #423 "can i add fizzbuzz.cpp???? in interview questions as a part of hactober fest"

[2020-10-01 05:25] gokulkannan7 commented on #186
@akshitagupta15june I have opened a PR, pls check

[2020-10-01 05:53] imkks opened #427 "Edit distance problem"
Can I add edit distance problem to the dp folder It is an important algo for hacktoberfest?

[2020-10-01 07:12] yogesh-kansal opened #431 "make sequence of brackets regular"
given a sequce of length n (n is even),find the minimum number of moves to make sequence regular.
in one, you can choose exactly one bracket and move it to the beginning of the string or to the end of the string.
For example, "()()", "(())()", "(())" and "()" are regular bracket sequences, but ")(", "()(" and ")))" are not.

[2020-10-01 07:14] yogesh-kansal commented on #431
i want to solve this problem in c++,(without using stacks in linear time).please assign it to me.

[2020-10-01 07:15] yogesh-kansal commented on #431
can i add this problems in algorithms

[2020-10-01 07:47] btlin1213 commented on #431
Can I work on this one?

[2020-10-01 07:55] btlin1213 opened #434 "KMP Pattern Search Algorithm"
Given a text, searching for a pattern with the KMP algorithm. Add to `string` folder?

[2020-10-01 08:11] imrahul361 commented on #263
how i can work on it?

[2020-10-01 08:27] Ajeet1606 commented on #215
Hey @AC-BOSS I want to work as a part of hactoberfest 2020.
Please guide a bit how should I proceed.

[2020-10-01 09:04] imrahul361 opened #436 "Given a binary matrix, find the maximum size rectangle binary-sub-matrix with all 1’s."
I would like to contribute on this topic.

[2020-10-01 09:37] imrahul361 commented on #436
#437

[2020-10-01 12:57] ANKITAKHAN commented on #280
@bvishal8510  can I add big integer class implementation code as my contribution to this issue?

[2020-10-01 13:20] GauravPatil8778 commented on #270
i want to work

[2020-10-01 13:20] Mayankjha997 commented on #231
hey! can i work on this repo

[2020-10-01 13:23] AC-BOSS commented on #215
@Ajeet1606 I am also a contributer, and I was asking to work on this. And contributions to this repository won't count in progress in Hacktoberfest anymore.

[2020-10-01 13:23] #215 closed

[2020-10-01 17:26] BabesGotByte commented on #263
Hey!! I wanna work on this issue. Could you assign it to me.

[2020-10-01 17:27] BabesGotByte commented on #265
Hey!! I wanna work on this issue. Could you assign it to me.

[2020-10-01 17:52] triii10 commented on #434
If it is not assigned to anyone, I can take this.

[2020-10-01 18:24] Pratap2018 commented on #194
@akshitagupta15june  Pull Request added

[2020-10-01 20:24] guptaa98 commented on #225
i've done this problem! please assign this to me.

[2020-10-01 20:27] sroy99 commented on #188
Hi, Can I work on this issue in CPP?

[2020-10-01 20:29] sroy99 commented on #226
Hi, can I work on this issue for Hacktober fest?

[2020-10-01 20:31] guptaa98 commented on #263
I've done this ques in c++. Please assign this to me

[2020-10-02 15:22] ashivamj2105 opened #489 "Anagram of two Strings"
This program is to check whether two words are anagrams or not. eg. cat and act

[2020-10-02 15:24] ARYAMANSHIVAMJHA commented on #489
Please assign me for this task

[2020-10-03 10:09] roastedcoder commented on #212
Hello @bdyutish I have made a PR for this problem. Please review that.

[2020-10-05 14:41] sbhavya18 commented on #264
I wish to work on this issue and implement in c++. Kindly assign me this.

[2020-10-05 14:42] sbhavya18 commented on #251
I will implement this in c++. Kindly assign me this

[2020-10-07 06:35] #260 closed

[2020-10-07 06:35] #265 closed

[2020-10-07 06:36] #245 closed

[2020-10-07 09:54] rebelfire888 commented on #489
I can write the program

[2020-10-12 06:33] #140 closed

[2020-10-12 06:34] #142 closed

[2020-10-12 06:35] #192 closed

[2020-10-12 15:49] yashgupta18 opened #518 "Add more Dynamic Programming questions?"
Can I add some DP programs in c++?

[2020-10-14 06:11] #489 closed

[2020-10-14 09:16] hacktoberfest-team opened #519 "Pull requests here won’t count toward Hacktoberfest."
Hi there,

Thank you for your interest in Hacktoberfest and in helping others make their first contributions to open source.

While we agree that it's important to help others, this repository does not do this in a way that is in line with [the Hacktoberfest values](https://hacktoberfest.digitalocean.com/details). Please read the part that talks about high-quality contributions to understand why w

[2020-10-15 15:17] yuvrajdewangan commented on #231
mam can i work on this repository

[2020-10-15 15:53] yuvrajdewangan commented on #264
Can i do this ?

[2020-10-15 15:54] yuvrajdewangan commented on #275
can i work on this ?

[2020-10-15 15:58] yuvrajdewangan commented on #218
can i work on this issue

[2020-10-15 15:59] yuvrajdewangan commented on #198
can i work on this issue

[2020-10-15 21:28] JayantGoel001 opened #522 "Trie Data Structure"
I want to implement Trie Data Structure in CPP. Please Assign Me.

[2020-10-16 17:35] yuvrajdewangan commented on #223
can i do this i have already done this in my college assignment

[2020-10-16 18:02] yuvrajdewangan commented on #371
can i work on this issue

[2020-10-17 00:12] ishi0301 commented on #371
@yuvrajdewangan @ajitg1 I have created this issue for myself . Please create your own issue and make pr

[2020-10-23 04:57] akshitagupta15june opened #548 "PULL REQUEST WILL BE MERGED"
Thankyou so much everyone for contributing in the repository.
As i am the only one to manage the repo so after some simple checks I will surely merge your pull request.
Happy Coding! and contributing to open source.

These contributions are really valuable.

[2020-10-23 05:00] akshitagupta15june commented on #519
Thankyou @hacktoberfest-team

[2020-10-23 05:11] akshitagupta15june opened #549 "GITHUB TRENDING REPOSITORY"
# **WE ALL HAVE MADE THIS REPOSITORY TO TREND IN GITHUB REPOSITORIES**

# **HAPPY CODING!**

![image](https://user-images.githubusercontent.com/57909583/96958809-204b3780-151c-11eb-89d6-3be42aee6f4e.png)

[2020-10-23 15:08] DbDibyendu commented on #548
Can I work on this issue?

[2020-10-23 15:25] PriyaGandhi311 commented on #254
I am working on it! #254

[2020-10-26 11:43] #374 closed

[2020-10-28 18:51] akshitagupta15june opened #557 "Gaming"
Any gaming GUI in C++
Example sudoku , snake hame

Add in games folder of this repo

[2020-11-05 10:35] raw12 commented on #218
I want to work on this issue

[2020-11-06 19:55] akshitagupta15june commented on #518
yes ofcourse!

[2020-11-10 20:19] ZartDrag commented on #218
I'm a beginner and want to work on this issue. Can you suggest ways to get started?

[2020-11-10 20:22] ZartDrag commented on #226
I'm a beginner and want to work on this issue. Can you please assign it to me?

[2020-11-10 20:29] ZartDrag commented on #188
Hi, I'm a beginner and want to work on this issue. Please assign it to me.

[2020-11-12 18:28] Harsh4999 commented on #231
Please assign me this one seems easy and I want to really learn this one would be my first issue so please help me learn and assign me.

[2020-11-21 02:26] #1 closed

[2020-11-26 03:13] akshitagupta15june opened #570 "Implementation of Bankers ALGO"

[2020-11-26 09:28] Upasana1216 commented on #231
Please assign me this.

[2020-11-28 08:22] #112 closed

[2020-12-04 09:59] #522 closed

[2020-12-08 22:48] JayantGoel001 commented on #570
I can do this in cpp
Please assign.

[2020-12-08 22:49] JayantGoel001 opened #571 "ArraySub"
### Detailed Description
Given an array and an integer k, find the maximum for each and every contiguous subarray of size k.

### Context
(It shows implementation and algorithm of heap or deque data structure)

### Possible Implementation
Use of deque STL library

[2020-12-08 22:50] JayantGoel001 commented on #571
I want to do this in cpp.
Please assign.

[2020-12-15 07:15] akrish4 opened #572 "Min and Max of a array using minimum number of comparisons in cpp"
I would like to add maximum and minimum of a array using minimum number of comparisons in array section, Shall I contribute ?

[2020-12-15 07:16] akrish4 opened #573 "Palindrome Linkedlist in Data Structures section"
I would like to add palindrome linkedlist program.
Kindly assign me this.

[2020-12-19 08:58] akshitagupta15june opened #574 "Level order traversal of binary tree using bfs approach"

[2020-12-22 13:46] #571 closed

[2021-01-31 04:37] #344 closed

[2021-02-07 05:55] TalalZamanAbbasi commented on #549
nice

[2021-02-19 08:51] #329 closed

[2021-02-19 11:17] hussain464 opened #578 "Hussain"
Jdb

[2021-03-06 18:41] #187 closed

[2021-04-08 11:09] micky2001 opened #582 "Add More questions in tree and graph??"

[2021-04-08 11:11] micky2001 opened #583 "Want to Add 3-4 more questions to stack which are not present"

[2021-04-21 09:31] SarbojitAMD commented on #574
@akshitagupta15june, May I implement it?

[2021-04-21 10:05] SarbojitAMD opened #587 "Just a thought"
To maintainer(@akshitagupta15june) and other contributors,

Great initiative and good to see many are proactively contributing yet sources are arranged so nicely 👍. Since the community is growing very fast I felt it is good to share some points which might be helpful for everyone.

1. We often think about the number of PRs submitted/accepted by individual matters but trust me code review is equall

[2021-04-21 10:18] akshitagupta15june commented on #587
Thanks for sharing @SarbojitAMD

[2021-04-23 14:04] SarbojitAMD commented on #587
In case anyone solving Problems related to Tree, Linked list, Doubly Linked List, Stack, or Queue general habit is to create a Tree DS for their own program what if Tree DS is already available, one just needs to use it in the program he/she is trying to solve. I have added a header-only DS file that can be used in any CPP program. Feel free to use  https://github.com/SarbojitAMD/Header_Only_DS

A

[2021-04-24 11:52] SarbojitAMD commented on #548
@akshitagupta15june, Let me know if you need additional hands for maintaining it. I would love to help here.

[2021-04-27 06:46] #191 closed

[2021-05-06 19:38] Rahul7171 opened #591 "WANT TOO ADD MORE ALGORITHMS"

[2021-05-10 12:10] vikas780 opened #592 "Add Heap Sort"
Make a folder for **Heap** and add programs related to the **Heap**.

[2021-05-23 05:46] #186 closed

[2021-05-23 11:03] vikas780 opened #593 "Add question in linkedlist"
Assign me, I want to add a program in the LinkedList section.

[2021-05-25 03:00] vikas780 commented on #593
#594 Added linked List question.

[2021-05-25 03:00] #593 closed

[2021-05-29 02:11] vikas780 opened #595 "Linked list program"
I want to add a program for the addition of two linkedlist.

[2021-06-05 17:03] #595 closed

[2021-06-05 17:05] vikas780 opened #596 "LinkedList program"
Assign me, I want to a program to find the length of the loop in LinkedList.

[2021-06-15 04:40] vikas780 commented on #596
#597  Added program in linkedlist

[2021-06-15 04:40] #596 closed

[2021-06-28 11:10] akshitagupta15june opened #601 "Add games gui"

[2021-06-28 11:10] akshitagupta15june opened #602 "Add max heap min heap"

[2021-07-27 15:15] jvg-0 opened #604 "test"

[2021-07-27 15:16] #604 closed

[2021-07-30 16:41] sriharimalla commented on #602
Hey @akshitagupta15june
I'm intereseted in contributing on these heap data structures!
Can I take the lead for these?

[2021-07-30 18:13] akshitagupta15june commented on #602
Yes you can

[2021-07-31 09:05] sriharimalla commented on #602
Hi @akshitagupta15june, I created the heap folder with the required files.
and created a pull request :)

[2021-09-15 09:18] #578 closed

[2021-09-15 09:18] #587 closed

[2021-09-15 09:19] #582 closed

[2021-09-30 17:43] #602 closed

[2021-10-02 14:13] ayush523 commented on #574
Hi,I would like to work on this issue.

[2021-10-04 05:29] TiwariPreeti opened #624 "Zipped String"
Given lowercase alphabet strings a, b, and c return whether there's any way of obtaining c by merging characters in order from a and b.

Constraints:

0 ≤ n ≤ 1,000 where n is the length of a
0 ≤ m ≤ 1,000 where m is the length of b
0 ≤ k ≤ 1,000 where k is the length of c

Example 1
Input:-
a = "abc"
b = "def"
c = "abdefc"
Output:-
true

https://binarysearch.com/problems/Zipped-String

Tags for t

[2021-10-04 05:30] TiwariPreeti commented on #624
Please assign me this @akshitagupta15june

[2021-10-04 06:07] TiwariPreeti commented on #624
Please add label hacktoberfest-accepted

[2021-10-05 04:29] Nishit278 opened #629 "Excluded from Hacktoberfest 2021"
PRs in this repo won't contribute towards hacktoberfest 2021

[2021-10-08 05:26] #583 closed

[2021-10-17 19:45] VaibhavMalik4187 commented on #591
Can I add Some algorithms to the repo?

[2021-11-06 16:13] moustafa7zada opened #655 "Test"

[2022-04-05 12:45] TarunSinghNegi commented on #217
i want to work on it.

[2022-04-05 13:44] akshitagupta15june commented on #217
u can work on it

[2022-09-24 05:34] #629 closed

[2022-09-24 05:34] #655 closed

[2022-10-01 08:22] Nasah-Kuma commented on #592
Hi! Is this project available for Hacktoberfest 2022?

[2022-10-05 06:46] aryanayush012 commented on #254
I want to contribute. Assign this to me @MatheusMuriel

[2022-10-08 14:16] Dhanunjay18 commented on #218
Please assign this issue to me

[2022-10-10 09:40] divyaporwal-hub commented on #210
@VyomGarg47 Can I do this?

[2022-10-11 19:11] sajal-19 commented on #218
Kindly assign this to me . I have an efficient solution for this and i maintain a proper comments in the code as well .

[2022-10-15 11:31] RiyaJain12 opened #688 "Rat in a Maxe Problem"
I would like to add this problem which is generally solved by using backtracking in a interview questions part(hactoberfest 2022)

[2022-10-15 11:34] RiyaJain12 opened #689 "Sieve of Eratosthenes"

[2022-10-16 10:12] bhavyagupta-11 commented on #688
Kindly assign this problem to me!

[2022-10-16 11:09] ajitesh0711 commented on #250
Hi there,
@Rituraj-commits
I would to like to fix this issue. This issue can be solved using the Inorder tree traversal. If the Inorder tree traversal is in strictly increasing order then it is a Binary Search Tree otherwise not.
Can you assign me this issue?

[2022-10-16 15:03] Pratikbalodi commented on #270
i would like to contribute

[2022-10-17 04:27] anish853 commented on #688
Hey @bhavyagupta-11 @akshitagupta15june
Kindly assign this problem to me.

[2022-10-17 04:28] anish853 commented on #624
Hey @TiwariPreeti  @akshitagupta15june
Kindly assign this problem to me.

[2022-10-17 04:28] anish853 commented on #573
Hey @akrish4  @akshitagupta15june
Kindly assign this problem to me.

[2022-10-17 04:30] anish853 opened #693 "Boyer Moore Algorithm for Pattern Searching"
Hey @akshitagupta15june
Kindly Assign this to me.

[2022-10-17 07:04] bhavyagupta-11 opened #694 "Travelling Salesman Problem"
Hey I want to add the famous travelling Salesman Problem asked in interviews

[2022-10-17 07:05] bhavyagupta-11 commented on #694
@akshitagupta15june hey kindly assign this issue to me

[2022-10-17 16:30] pranshu2105 commented on #154
Please assign this to me.

[2022-10-18 01:29] EpicLulz1509 commented on #557
I would like to contribute. Can you please assign me this issue?

[2022-10-18 01:31] EpicLulz1509 commented on #272
can i have this one??

[2022-10-18 01:32] EpicLulz1509 commented on #263
can you assign me this issue?? i would like to work on it

[2022-10-18 01:32] EpicLulz1509 commented on #256
can i work on this issue?? i am literally studying this topic rn

[2022-10-18 01:33] EpicLulz1509 commented on #254
can i work on this issue??

[2022-10-18 01:35] EpicLulz1509 commented on #231
can you assign me this issue?

[2022-10-18 02:35] #254 closed

[2022-10-20 05:47] amsahil opened #700 "Sieve of Eratosthenes the optimized code"
Hey, I would like to add my code in the Sieve of Eratosthenes code in the best approach and optimized complexity.
I am Competitive Programmer and a 4 * on the codecehef. I would be thankful if you give me the opportunity to show my skills.

[2022-10-21 06:31] Masoom9587 commented on #250
i want you to assign this issue to me

[2022-10-21 06:34] Masoom9587 commented on #689
please assign this to me

[2022-10-21 06:37] Masoom9587 commented on #688
please assign it to me!!

[2022-10-22 14:57] anish602 opened #705 "Spiral Matrix--LeetCode standard problem"
Kindly assign this problem to me.

[2022-10-22 14:58] anish602 opened #706 "Excel Sheet Column Title-Leetcode Medium level question."
Kindly assign this to me.

[2022-10-22 15:02] anish602 opened #707 "Count of Smaller Numbers After Self--leetcode standard problem."
Kindly assign this to me.

[2022-10-22 15:04] anish602 opened #708 "Reverse Nodes in k-Group--Leetcode Hard problem."
Kindly Assign it to me.

[2022-10-23 14:34] guneet-01 commented on #278
https://github.com/akshitagit/CPP/pull/709#issue-1419814781